@{
    ViewBag.Title = "最新消息";
    ViewBag.BodyClass = "News";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section id="content">

	<div id="banner">
		<h2 class="h3 wrap">
			<span class="title">@ViewBag.Title</span>
		</h2>
		<img class="thumb" src="~/Content/images/News/banner.jpg" alt="">
	</div>

    <div class="wrap">

    	<ul class="breadcrumb text-md-right">
    		<li><a href="~/Index">Home</a></li>
    		<li>@ViewBag.Title</li>
    	</ul>

    	<div class="news-list section">
    		<article class="article">
    			<h3 class="h3">
    				<small>2015-10-01</small>
    				<a href="~/News/Content001">10/29 吳毓庭「爵士的華麗登場」邀您一同享受美好的音樂饗宴</a>
    			</h3>
    			<p>10/29 下午五點在桃園中正藝文特區，吳毓庭老師將帶來一場爵士樂的豐富心靈饗宴！講師經歷：美國印第安納大學演奏碩士、「活樂時光工作室」負責人...</p>
    			<a href="~/News/Content001" class="btn btn-primary more">Read More</a>
    		</article>
    		<article class="article">
    			<h3 class="h3">
    				<small>2015-10-01</small>
    				<a href="~/News/Content001">10/29 吳毓庭「爵士的華麗登場」邀您一同享受美好的音樂饗宴</a>
    			</h3>
    			<p>10/29 下午五點在桃園中正藝文特區，吳毓庭老師將帶來一場爵士樂的豐富心靈饗宴！講師經歷：美國印第安納大學演奏碩士、「活樂時光工作室」負責人...</p>
    			<a href="~/News/Content001" class="btn btn-primary more">Read More</a>
    		</article>
    	</div>
        
    </div>

</section>