@{
    ViewBag.Title = "最新消息";
    ViewBag.Title2 = "「我們的那時．此刻」電影欣賞活動";
    ViewBag.BodyClass = "News";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.customShareInfo = false;
}

<h2 class="sr-only">@ViewBag.Title</h2>

<section id="content">

    <div id="banner">
        <h2 class="h3 wrap">
            <span class="title">@ViewBag.Title</span>
        </h2>
        <img class="thumb" src="~/Content/images/News/banner.jpg" alt="">
    </div>

    <div class="wrap">

        <ul class="breadcrumb text-md-right">
            <li><a href="~/Index">Home</a></li>
            <li><a href="~/News/List">@ViewBag.Title</a></li>
            <li>最新消息內容</li>
        </ul>

        <article class="article section">
            <h4 class="h4">@ViewBag.Title2</h4>
            <h5 class="h5"><small><i class="ti-calendar"></i> 2016-12-21</small></h5>
            <div class="editor main-text">
                <p>一杯咖啡的時間：成功的分享、議題的討論、深層的探討</p>
                <p>61度C 咖啡講堂，歡迎您來坐坐。</p>
                <p class="text-xl-center">
                    <img src="~/Content/images/News/005/pic.jpg" alt="" class="img-thumbnail">
                </p>
            </div>
        </article>

        <p class="text-xs-center">
            <a href="~/News/List" class="btn btn-primary">回列表</a>
        </p>
        
    </div>

</section>

