@{
    ViewBag.Title = "最新消息";
    ViewBag.BodyClass = "News";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="sr-only">@ViewBag.Title</h2>

<section id="content">

    <div id="banner">
        <h2 class="h3 wrap">
            <span class="title">@ViewBag.Title</span>
        </h2>
        <img class="thumb" src="~/Content/images/News/banner.jpg" alt="">
    </div>

    <div class="wrap">

        <ul class="breadcrumb text-md-right">
            <li><a href="~/Index">Home</a></li>
            <li><a href="~/News/List">@ViewBag.Title</a></li>
            <li>最新消息內容</li>
        </ul>

        <article class="article section">
            <h4 class="h4">「我們的那時．此刻」電影欣賞活動</h4>
            <h5 class="h5"><small><i class="ti-calendar"></i> 2016-04-19</small></h5>
            <div class="editor main-text">
                <p>台灣優靈客協會的理事、監事以及會員們大家好：</p>
                <p>為連結本會與各會員之間的情感，吳志揚理事長特於6月15日(三)邀請本會會員共同來欣賞由楊力州導演執導、金馬獎紀錄片「那時．此刻」，此紀錄片內容跨越50年記憶，重新回顧台灣電影史及它背後的時代，無比感動。</p>
                <ul class="list-icon list-underline">
                    <li>『那時』，ㄧ部電影，ㄧ個時代，ㄧ場熱血沸騰的夢。</li>
                    <li>『此刻』，ㄧ部電影，ㄧ場對話，ㄧ段互相理解的開始。</li>
                </ul>
                <p>映後理事長將頒發理監事當選證書及會員證書，感謝會員給予協會的支持與鼓勵。</p>
                <p>非常歡迎各位邀請朋友一同前來觀賞，活動當天也備有精緻點心，期待大家共襄盛舉。</p>
                <ul class="list-icon list-underline">
                    <li>活動地點：SBC星橋國際影城（大江購物中心，桃園市中壢區中園路二段509號5樓）。</li>
                    <li>報到時間：6月15日(星期三)下午5時00分起。</li>
                    <li>電影放映時間：下午6時30分至9時10分。</li>
                    <li>活動報名方式：可直接來電 03-2805398 向協會秘書陳小姐報名；或是填寫報名表後回傳至信箱 <a href="mailto:ulink1030@gmail.com">ulink1030@gmail.com</a>，亦可剪下傳真至 03-2805399。</li>
                </ul>
                <p>詳細活動內容請看 <a href="http://www.ulink.org.tw/Events/Events001">台灣優靈客協會 - 活動預告</a></p>
                <hr class="sm">
                <ul class="list-icon list-underline">
                    <li><a href="http://www.ulink.org.tw/Events/Events001">前往活動頁面</a></li>
                    <li><a href="~/Content/images/Events/data/001/apply.jpg" target="_blank">報名表下載</a></li>
                    <li><a href="https://youtu.be/oC93u_uNM-o" target="_blank">影片搶先看</a></li>
                </ul>
            </div>
        </article>

        <p class="text-xs-center">
            <a href="~/News/List" class="btn btn-primary">回列表</a>
        </p>
        
    </div>

</section>

