@{
    ViewBag.Title = "最新消息";
    ViewBag.BodyClass = "News";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section id="content">

	<div id="banner">
		<h2 class="h3 wrap">
			<span class="title">@ViewBag.Title</span>
		</h2>
		<img class="thumb" src="~/Content/images/News/banner.jpg" alt="">
	</div>

    <div class="wrap">

    	<ul class="breadcrumb text-md-right">
    		<li><a href="~/Index">Home</a></li>
    		<li>@ViewBag.Title</li>
    	</ul>

    	<div class="news-list section">
            <article class="article">
                <h3 class="h3">
                    <small>2016-04-19</small>
                    <a href="~/News/Content004">《那時．此刻》電影欣賞與導演對談</a>
                </h3>
                <p>台灣優靈客協會 協辦《那時．此刻》電影欣賞與導演對談活動，歡迎有興趣的朋友們踴躍參與！</p>
                <a href="~/News/Content004" class="btn btn-primary more">Read More</a>
            </article>
            <article class="article">
                <h3 class="h3">
                    <small>2015-10-30</small>
                    <a href="~/News/Content003">第一屆第一次會員大會暨理監事會議</a>
                </h3>
                <p>台灣優靈客協會 召開第一屆第一次會員大會暨理監事會議</p>
                <a href="~/News/Content003" class="btn btn-primary more">Read More</a>
            </article>
    		<article class="article">
    			<h3 class="h3">
    				<small>2015-08-27</small>
    				<a href="~/News/Content002">第二次籌備會議</a>
    			</h3>
    			<p>台灣優靈客協會 召開第二次籌備會議</p>
    			<a href="~/News/Content002" class="btn btn-primary more">Read More</a>
    		</article>
    		<article class="article">
    			<h3 class="h3">
    				<small>2015-08-11</small>
    				<a href="~/News/Content001">發起人暨第一次籌備會議</a>
    			</h3>
    			<p>台灣優靈客協會 召開發起人暨第一次籌備會議</p>
    			<a href="~/News/Content001" class="btn btn-primary more">Read More</a>
    		</article>
    	</div>
        
    </div>

</section>