@{
    ViewBag.Title = "最新消息";
    ViewBag.BodyClass = "News";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.customShareInfo = false;
}

<section id="content">

	<div id="banner">
		<h2 class="h3 wrap">
			<span class="title">@ViewBag.Title</span>
		</h2>
		<img class="thumb" src="~/Content/images/News/banner.jpg" alt="">
	</div>

    <div class="wrap">

    	<ul class="breadcrumb text-md-right">
    		<li><a href="~/Index">Home</a></li>
    		<li>@ViewBag.Title</li>
    	</ul>

    	<div class="news-list section">
            @*<article class="article">
                <h3 class="h3">
                    <small>2016-08-18</small>
                    <a href="~/Events/Events003">原生文化體驗營：木作壯遊 &amp; 攀樹壯遊</a>
                </h3>
                <p>廣受好評的「探索台灣．我是壯遊客」第一梯次已圓滿落幕，協會特別規畫於8月25日及8月26日分別舉辦「木作壯遊」與「攀樹壯遊」，為大家的暑假劃下一個完美的句點。錯過第一梯次的會員及青年朋友們快快把握機會吧！</p>
                <a href="~/Events/Events003" class="btn btn-primary more">Read More</a>
            </article>*@
            <article class="article">
                <h3 class="h3">
                    <small>2016-07-01</small>
                    <a href="~/Events/Events002">探索台灣．我是壯遊客－「遇見塔曼」</a>
                </h3>
                <p>為發揮在地精神，台灣優靈客協會特別規劃「探索台灣．我是壯遊客」系列活動，串連全台灣北、中、南、東，找出台灣特有的環境旅遊方式，啟發自身的優質靈感，提供不一樣的台灣新壯遊精神！</p>
                <a href="~/Events/Events002" class="btn btn-primary more">Read More</a>
            </article>
            <article class="article">
                <h3 class="h3">
                    <small>2016-04-19</small>
                    <a href="~/News/Content004">「我們的那時．此刻」電影欣賞活動</a>
                </h3>
                <p>吳志揚理事長特於6月15日(三)邀請本會會員共同來欣賞由楊力州導演執導、金馬獎紀錄片「那時．此刻」，此紀錄片內容跨越50年記憶，重新回顧台灣電影史及它背後的時代，無比感動。</p>
                <a href="~/News/Content004" class="btn btn-primary more">Read More</a>
            </article>
            <article class="article">
                <h3 class="h3">
                    <small>2015-10-30</small>
                    <a href="~/News/Content003">第一屆第一次會員大會暨理監事會議</a>
                </h3>
                <p>台灣優靈客協會 召開第一屆第一次會員大會暨理監事會議</p>
                <a href="~/News/Content003" class="btn btn-primary more">Read More</a>
            </article>
    		<article class="article">
    			<h3 class="h3">
    				<small>2015-08-27</small>
    				<a href="~/News/Content002">第二次籌備會議</a>
    			</h3>
    			<p>台灣優靈客協會 召開第二次籌備會議</p>
    			<a href="~/News/Content002" class="btn btn-primary more">Read More</a>
    		</article>
    		<article class="article">
    			<h3 class="h3">
    				<small>2015-08-11</small>
    				<a href="~/News/Content001">發起人暨第一次籌備會議</a>
    			</h3>
    			<p>台灣優靈客協會 召開發起人暨第一次籌備會議</p>
    			<a href="~/News/Content001" class="btn btn-primary more">Read More</a>
    		</article>
    	</div>
        
    </div>

</section>