@{
    ViewBag.Title = "精選文章";
    ViewBag.BodyClass = "Articles";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="sr-only">@ViewBag.Title</h2>

<section id="content">

	<div id="banner" class="tall">
		<h3 class="h3 wrap hidden-md-down">
			@* <span class="label label-primary">主題XX</span> *@
			<small>
				<span class="name">陶君亮</span>
				<span class="date"><i class="ti-calendar"></i>2016-05-27</span>
			</small>
			<span class="title">巨星造船股份有限公司:陶君亮董事長</span>
		</h3>
		<img class="thumb" src="~/Content/images/Articles/data/001/banner.jpg" alt="">
	</div>

    <div class="wrap">

    	<ul class="breadcrumb text-md-right">
    		<li><a href="~/Index">Home</a></li>
    		<li><a href="~/Articles/List">@ViewBag.Title</a></li>
    		<li>閱讀文章</li>
    	</ul>

        <h4 class="h3 hidden-lg-up">
            @* <span class="label label-primary">主題XX</span> *@
            <small>
                <span class="name">陶君亮</span>
                <span class="date"><i class="ti-calendar"></i>2016-05-27</span>
            </small>
            <span class="title">巨星造船股份有限公司:陶君亮董事長</span>
        </h4>

    	<article class="article section">
    		<h4 class="sr-only">內文</h4>
    		<div class="editor">
                <div class="row">
                    <div class="col-lg-6 pull-lg-right">
                        <p><img src="~/Content/images/Articles/data/001/cover_s.jpg" alt="" class="img-thumbnail"></p>
                    </div>
                    <div class="col-lg-6">
                        <p>很高興在吳前縣長的帶領下，一群社會菁英秉持著對青年的支持與關懷而成立此協會。我非常樂意將個人理念與想法奉獻於此。</p>
                        <p>台灣身為遊艇王國，過去行銷靠的是物美價廉，但如今國際社會情勢轉變，大環境已截然不同，要在產業界佔有一席之地，研發創新是首要重點。今年巨星諾瓦帝遊艇推出全球獨創超跑系列遊艇(Super Nova)，就是因為有獨到的眼光來推動此案，如同我35年前創業的精神(一股傻勁)，才能在傳統產業中開闢出一條新的道路。這款遊艇是世界獨一無二的，外型、性能、科技、動感與環保整合(integrate)在一起。我很願意和青年朋友彼此分享，一起享受成長的過程和樂趣。</p>
                        <p>再次祝福 ULINK 優靈客這個平台給年輕人帶來更多互動和成長！</p>
                    </div>
                </div>
                <p class="text-xl-center">
                    <img src="~/Content/images/Articles/data/001/pic1.jpg" alt="" class="img-thumbnail" style="height: 160px;">
                    <span class="br-sm-down gutter-sm-down"></span>
                    <img src="~/Content/images/Articles/data/001/pic2.jpg" alt="" class="img-thumbnail" style="height: 160px;">
                    <span class="br-lg-down gutter-lg-down"></span>
                    <img src="~/Content/images/Articles/data/001/pic3.jpg" alt="" class="img-thumbnail" style="height: 160px;">
                    <img src="~/Content/images/Articles/data/001/pic4.jpg" alt="" class="img-thumbnail gutter-sm-down" style="height: 160px;">
                </p>
    			<hr>
    			<p>巨星造船董事長 陶君亮</p>
    		</div>
    	</article>

    	<p class="text-xs-center">
    		<a href="~/Articles/List" class="btn btn-primary">回列表</a>
    	</p>
        
    </div>

</section>

