@{
    ViewBag.Title = "精選文章";
    ViewBag.BodyClass = "Articles";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="sr-only">@ViewBag.Title</h2>

<section id="content">

	<div id="banner">
		<h3 class="h3 wrap">
			<span class="label label-primary">主題XX</span>
			<small>
				<span class="name">Ivan</span>
				<span class="date"><i class="ti-calendar"></i>2016-01-01</span>
			</small>
			<span class="title">Google公司的「幻想科技部門」，用這三個思考方式快速設計出劃時代產品的原型。</span>
		</h3>
		<img class="thumb" src="~/Content/images/Index/speech.jpg" alt="">
	</div>

    <div class="wrap">

    	<ul class="breadcrumb text-md-right">
    		<li><a href="~/Index">Home</a></li>
    		<li><a href="~/Videos/List">@ViewBag.Title</a></li>
    		<li>閱讀文章</li>
    	</ul>

    	<article class="article section">
    		<h4 class="sr-only">內文</h4>
    		<div class="editor">
    			<h1 class="styled">Google的快速原型設計思考法</h1>
    			<p>一種前所未見的科技新玩意兒問世時，總是引起人們的競相追逐，例如iphone、電動車、無人飛行機、或Google glass，人們關注下一個改變世界產品的出現，希望他們能讓人們的生活更加便利。</p>
    			<p>但這些科技的先行者是如何做出這些前所未見的產品？在沒有前例可以參考的情況下，他們如何開始製作這些「驚人」的產品？</p>
    			<iframe src="https://www.youtube.com/embed/d5_h1VuwD6g?rel=0" frameborder="0" allowfullscreen></iframe>
    			
    			<p>在Google的眾多部門之中，有一個名為「Google X」的UX（使用者體驗）團隊。因為進行的都是目前市面上所沒有看過的產品，因此被暱稱為「幻想科技部門」。</p>
    			<p>該專案的主持人Tom Chi花了兩年的時間建立了這個團隊，他要告訴我們，如何把一個沒人看過的產品從無到有變出來。</p>
    			<h2 class="styled">原型法則#1 ：使用最快最簡單能進行體驗的方法</h2>
    			<p>你不需要多複雜的技術力，這個原型簡單的讓人吃驚，只需用一個衣架、微型投影機、壓克力板和小筆電。你就能從小筆電把畫面投射在面前衣架上的壓克力板。</p>
    			<h3 class="styled">原型法則#2：最快的思考方式是動手做</h3>
    			<p>原本的衣架和投影器，因為要能投影東西，還是要戴著。但這個階段多了兩個套在手上的髮圈，把他們用釣魚線連結到地上啟動簡報器的小裝置，靠著釣魚線的張力，我們就能用揮動左右手來控制上一張或下一張的畫面。</p>
    			<h4 class="styled">原型法則#2：最快的思考方式是動手做</h4>
    			<p>原本的衣架和投影器，因為要能投影東西，還是要戴著。但這個階段多了兩個套在手上的髮圈，把他們用釣魚線連結到地上啟動簡報器的小裝置，靠著釣魚線的張力，我們就能用揮動左右手來控制上一張或下一張的畫面。</p>
    			<h5 class="styled">原型法則#2：最快的思考方式是動手做</h5>
    			<p>原本的衣架和投影器，因為要能投影東西，還是要戴著。但這個階段多了兩個套在手上的髮圈，把他們用釣魚線連結到地上啟動簡報器的小裝置，靠著釣魚線的張力，我們就能用揮動左右手來控制上一張或下一張的畫面。</p>
    			<h6 class="styled">原型法則#2：最快的思考方式是動手做</h6>
    			<p>原本的衣架和投影器，因為要能投影東西，還是要戴著。但這個階段多了兩個套在手上的髮圈，把他們用釣魚線連結到地上啟動簡報器的小裝置，靠著釣魚線的張力，我們就能用揮動左右手來控制上一張或下一張的畫面。</p>
    			<hr>
    			<p>撰稿：Ivan／攝影：Ivan</p>
    		</div>
    	</article>

    	<p class="text-xs-center">
    		<a href="~/Videos/List" class="btn btn-primary">回列表</a>
    	</p>
        
    </div>

</section>

