@{
    ViewBag.Title = "精選文章";
    ViewBag.Title2 = "歐萊德國際股份有限公司:葛望平董事長";
    ViewBag.BodyClass = "Articles";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.customShareInfo = false;
}

<h2 class="sr-only">@ViewBag.Title</h2>

<section id="content">

	<div id="banner" class="article">
		<h3 class="h3 wrap hidden-md-down">
			@* <span class="label label-primary">主題XX</span> *@
			<small>
				<span class="name">葛望平</span>
				<span class="date"><i class="ti-calendar"></i>2016-05-30</span>
			</small>
			<span class="title">@ViewBag.Title2</span>
		</h3>
		<img class="thumb" src="~/Content/images/Articles/data/002/banner.jpg" alt="">
	</div>

    <div class="wrap">

    	<ul class="breadcrumb text-md-right">
    		<li><a href="~/Index">Home</a></li>
    		<li><a href="~/Articles/List">@ViewBag.Title</a></li>
    		<li>閱讀文章</li>
    	</ul>

        <h4 class="h3 hidden-lg-up">
            @* <span class="label label-primary">主題XX</span> *@
            <small>
                <span class="name">葛望平</span>
                <span class="date"><i class="ti-calendar"></i>2016-05-30</span>
            </small>
            <span class="title">@ViewBag.Title2</span>
        </h4>

    	<article class="article section">
    		<h4 class="sr-only">內文</h4>
    		<div class="editor">
                <p>給年輕人的一封信：</p>
                <p>我從國小開始，就會織魚網、繡旗袍、繡鞋子，年少時期就半工半讀我，心底就已經開始萌芽～「不斷找機會學習並堅持做好每項工作」的觀念。出社會幾年後，退伍老兵父親，拿出100萬讓我創業，當年對一個軍眷家庭來說，是筆大數目;創業不但需要勇氣，也要能承擔壓力。</p>
                <p>我在2002年創辦歐萊德時，父母親因腎臟病與癌症相繼離世，再加上自身為過敏體質所苦，歐萊德綠色緣起由此而生。我告訴自己要幫助人們遠離有毒重金屬與化學物質的危害，決心要將髮妝品事業朝綠色有機發展，這同時也奠定歐萊德的綠色品牌定位。</p>
                <p>但在創業的過程也不是一路順暢，因天然原料成本比化學合成洗髮精高出20倍，加上初期良率不高等困境。能有今日的成績，來自於我決定將企業轉型為「綠色」、「環保」企業，才逐漸突破，並茁壯成長到今天全台灣最綠的髮妝品公司，打進歐美市場。</p>
                <p>「意志啟發成功，熱情持續永恆」。創業需要源源不絕的熱情，創業非僅為個人利益，而需為社會、為環境而努力。請謹記做「好」企業比做「大」企業更為重要。</p>
    		</div>
    	</article>

        <aside class="article section">
            <h4 class="h4">葛望平 Steven Ko</h4>
            <h5 class="h5">歐萊德國際股份有限公司 董事長</h5>
            <div class="editor main-text">
                <div class="row">
                    <div class="col-md-4 pull-md-right m-b-1"><img class="img-thumbnail" src="~/Content/images/Articles/data/002/cover_s.jpg" alt=""></div>
                    <div class="col-md-8">
                        <p>學歷：MBA, Preston University, U. S. A.</p>
                        <p>經歷：</p>
                        <ul class="list-underline list-icon text-lg-left">
                            <li>台灣精品品牌協會理事</li>
                            <li>2009 國家優良品牌得主</li>
                            <li>2010 台灣百大 MVP 經理人</li>
                            <li>2011 阿里巴巴全球優質供應商</li>
                            <li>2011 台灣中小企業優良 CSR 企業</li>
                            <li>2011 代表台灣企業 於 APEC USA 演講</li>
                            <li>2011 第一屆台灣綠色典範獎得主</li>
                            <li>2011 台灣百大創新企業</li>
                            <li>2011 金典設計</li>
                            <li>2011 第三屆「學學獎」綠色產業特別獎</li>
                            <li>2012 SGS 台灣檢驗科技環境友善永續獎</li>
                            <li>2012 再次榮獲台灣中小企業優良 CSR 企業。</li>
                            <li>2012 榮獲中小企業國家磐石獎</li>
                            <li>2012 台灣企業環保獎</li>
                            <li>2012 國家永續獎</li>
                            <li>2012 台灣工業精銳獎</li>
                            <li>2012 桃園縣「環保綠能卓越獎」績優企業</li>
                            <li>2012 第四屆「學學獎」綠色設計產業組「創意獎」</li>
                            <li>2012 獲得青年創業楷模獎</li>
                            <li>2013 連續三年獲得經濟部「台灣中小企業優良CSR」</li>
                            <li>2013 德國紅點傳達設計大獎 Best of the Best</li>
                            <li>2013 第三屆臺灣綠色典範獎</li>
                            <li>2014 德國IF設計獎</li>
                            <li>2014 台灣精品獎</li>
                            <li>2014 遠見雜誌企業社會責任獎</li>
                            <li>2014 美國匹茲堡國際發明金獎及特別獎</li>
                            <li>2014 英國《金融時報》與渣打銀行「台灣企業獎」</li>
                            <li>2014 iENA德國紐倫堡國際發明展金獎及特別獎</li>
                            <li>2014 瑞士日內瓦發明展金牌及綠色特別獎</li>
                            <li>2015 瑞士日內瓦發明展金牌及綠色特別獎</li>
                            <li>2015 天下雜誌 CSR 小巨人首獎</li>
                            <li>2015 日本 G-Mark 設計獎</li>
                            <li>2015 台灣OTOP產品設計獎</li>
                            <li>2015 金點設計獎標章</li>
                            <li>2015 第二屆國家智榮獎-卓越獎</li>
                            <li>2015 安永企業家獎-綠色創新企業家獎</li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>

    	<p class="text-xs-center">
    		<a href="~/Articles/List" class="btn btn-primary">回列表</a>
    	</p>
        
    </div>

</section>

