@{
    ViewBag.Title = "聯絡我們";
    ViewBag.BodyClass = "ContactUs";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section id="content">

	<div id="banner">
		<h2 class="h3 wrap">
			<span class="title">@ViewBag.Title</span>
		</h2>
		<img class="thumb" src="~/Content/images/Index/banner.jpg" alt="">
	</div>

    <div class="wrap">

    	<ul class="breadcrumb text-md-right">
    		<li><a href="~/Index">Home</a></li>
    		<li>@ViewBag.Title</li>
    	</ul>

    	<div class="row">
    		<aside class="col-xs-4">
    			<h3 class="sr-only">地圖</h3>
    		</aside>
    		<article class="col-xs-8">
    			<h3 class="h3">桃園服務處</h3>
    			<ul class="contact-info">
    				<li><strong>地址</strong>32042 桃園市中壢區中正路 131 號</li>
    				<li><strong>電話</strong>03-280-5398</li>
    				<li><strong>傳真</strong>03-280-5399</li>
    			</ul>
    		</article>
    	</div>
        
    </div>

</section>