@{
    ViewBag.Title = "聯絡我們";
    ViewBag.BodyClass = "ContactUs";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section id="content">

	<div id="banner">
		<h2 class="h3 wrap">
			<span class="title">@ViewBag.Title</span>
		</h2>
		<img class="thumb" src="~/Content/images/ContactUs/banner.jpg" alt="">
	</div>

    <div class="wrap">

    	<ul class="breadcrumb text-md-right">
    		<li><a href="~/Index">Home</a></li>
    		<li>@ViewBag.Title</li>
    	</ul>

    	<div class="section row">
    		<aside class="col-xs-12 col-lg-6">
    			<h3 class="sr-only">地圖</h3>
    			<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.3246363594503!2d121.21981741535546!3d24.955067247604287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3468224a2d2846b5%3A0x851ef32d8a254dec!2zMzIw5qGD5ZyS5biC5Lit5aOi5Y2A5Lit5q2j6LevMTMx6Jmf!5e0!3m2!1szh-TW!2stw!4v1461807710984" frameborder="0" allowfullscreen></iframe>
    		</aside>
    		<article class="contact-info col-xs-12 col-lg-6">
    			<h3 class="h3">桃園服務處</h3>
    			<ul class="list-unstyled">
    				<li><strong>地址</strong>32042 桃園市中壢區中正路 131 號</li>
    				<li><strong>電話</strong>03-280-5398</li>
    				<li><strong>傳真</strong>03-280-5399</li>
    				<li><strong>Facebook</strong><a href="https://www.facebook.com/1738917516328579/" target="new">台灣優靈客協會 <i class="ti-new-window"></i></a></li>
    			</ul>
    		</article>
    	</div>
        
    </div>

</section>