@charset "UTF-8";


//
// Background
//
.bg {background: #F5F5F5 url(#{$img-path}/bg.jpg) repeat-x left bottom;}
.bg2 { background: #767D80 url(#{$img-path}/bg2.jpg) repeat-y center top; }


//
// Animation
//
.push {left: 250px;}
.pull {left: 0;}



//
// Grid & break
//

@each $bp in map-keys($grid-breakpoints) {

  @include media-breakpoint-up($bp) {
    .gutter-#{$bp}-up {margin-top: $spacer/2;}
    .br-#{$bp}-up     {display: block;}
  }
  @include media-breakpoint-down($bp) {
    .gutter-#{$bp}-down {margin-top: $spacer/2;}
    .br-#{$bp}-down     {display: block;}
  }
  @include media-breakpoint-only($bp) {
    .gutter-#{$bp}-only {margin-top: $spacer/2;}
    .br-#{$bp}-only     {display: block;}
  }

}




//
// Text
//

// Alignment

.text-middle { vertical-align:middle !important; }



//
// Screenreaders
//

.sr-only { @extend %sr-only; }