@charset "UTF-8";


// var
// ------------------------------------------------------------
$img-path2:             '../images/Index';
$content-spacing:       0;


// import
// ------------------------------------------------------------

// Core variables and mixins
@import "helper/variables";
@import "_web/var";

@import "helper/mixins";
@import "helper/function";

// Reset and dependencies
@import "base/normalize";
@import "base/print";
@import "base/reboot";

// Elements
@import "element/type";
@import "element/forms";
@import "element/buttons";

// Layout
@import "layout/grid";

// Module
@import "module/animation";
@import "module/nav";
@import "module/navbar";

// Utility classes
@import "helper/utilities-extends";
@import "helper/utilities";
@import "helper/extend";
@import "helper/classes";
@import "helper/utilities-responsive";

@import "_web/element";
@import "_web/module";
@import "_web/layout";


// layout
// ----------------------------------------------------------------------



// element
// ----------------------------------------------------------------------


// main
// ----------------------------------------------------------------------
#banner {
	height: 500px;

	ol {height: 100%;}

	li {
		height: 100%;

		img, h2 {
			position: absolute;
			left: 50%; top:50%;
			transform: translate(-50%, -50%);
		}

		img {
			width: 1920px;
			height: 500px;
		}

		h2 {
			width: 685px;
			height: 285px;
			padding: $spacer*2.5 $spacer*2;
			background: hsla(0,0,100%,0.6);
			border: 10px solid $brand-primary;
			box-sizing: border-box;

			text-align: center;
			font-weight: 600;
			font-size: em(50px);

			small {
				display: block;
				margin: 25px 0;

				font-weight: bold;
				font-size: em(21px, 50px);
			}
		}
	}

	@include media-breakpoint-down(lg) {
		height: 380px;
		li {
			h2 {padding: $spacer*2;}
			img {
				width: auto;
				max-height: 150%;
			}
		}
	}
	@include media-breakpoint-down(md) {
		li {
			h2 {
				width: 600px;
				height: 250px;
				padding: $spacer*1.5;
				font-size: em(40px);

				small {font-size: em(18px, 40px);}
			}
		}
	}
	@include media-breakpoint-down(sm) {
		height: 300px;
		li {
			h2 {
				width: 500px;
				padding: $spacer*1.5 $spacer;

				small {
					margin: $spacer 0;
					line-height: 1.5;
					letter-spacing: 0.1em;
				}
				.btn {
					padding: $spacer*0.3 $spacer;
					font-size: em(16px, 40px);
				}
			}
		}
	}
	@include media-breakpoint-down(xs) {
		height: 200px;
		li {
			h2 {
				width: 90%;
				height: 70%;
				padding: $spacer*1.1;
				font-size: em(36px);
				border-width: 7px;
				small {display: none;}
				.btn {
					display: block;
					width: 10em;
					margin: $spacer auto;
					font-size: em(16px, 36px);
				}
			}
		}
	}
}

.grid-intro,
.article-list {
	padding: $spacer*2 0;
}

.grid-intro {background: #F0F0F0;}

.feature {
	@extend .col-xs-4;
	width: 42.5%; 

	.thumb {
		display: block;
		height: 340px;
		position: relative;
		overflow: hidden;

		&::before,
		&::after {
			content:" ";
			display: block;
			position: absolute;
			left: 50%;
			top: 45%;
			transform: translate(-50%, -50%);
			z-index: 20;
		}

		&::before {
			@include size(100px);
			border-radius: 50%;
			background: $brand-primary;
			box-shadow: 0 0 15px hsla(0,0,0,0.5);
			transition: background 0.35s;
		}

		&:hover {
			&::before {background: $brand-danger;}
		}

		img {
			min-width: 100%;
			min-height: 100%; 
			max-width: 150%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		.h2 {
			width: 100%;
			height: 100px;
			position: absolute;
			left: 0;
			bottom: 0;
			margin: 0;
			padding: $spacer*1.5 $spacer*1.875;
			font-size: em(20px);
			font-weight: bold;
			color: #fff;
			letter-spacing: 0.08em;
			background: linear-gradient(hsla(0,0,0,0), hsla(0,0,0,1) 95%);

			.title {
				@extend %text-truncate;
				display: block;
				width: 100%;
				height: 1.5em;
			}
		}
	}

	&.video {
		.thumb {
			&::after {
				@include size(0);
				border: 25px solid transparent;
				border-left: 35px solid #fff;
				border-right-width: 0;
				margin-left: 5px;
			}
		}
	}

	&.article {
		.thumb {
			&::after {
				content: "\e611";
				font-family: 'themify';
				font-size: em(50px);
				color: #fff;
			}
		}
	}

	@include media-breakpoint-down(lg) {
		width:45%;
		.thumb {
			height: 275px;
			&::before {@include size(80px);}
		}
		&.video .thumb {
			&::after {border-width: 20px 0 20px 30px;}
		}
		&.article .thumb {
			&::after {font-size: em(40px);}
		}
	}

	@include media-breakpoint-down(md) {
		width: 100%;
		float:right;
		.thumb {height: 320px;}
	}

	@include media-breakpoint-down(xs) {
		.thumb {
			position: relative;
			display: block;
			height: 0;
			padding: 0 0 percentage(9 / 16) 0;
			overflow: hidden;

			&::before, &::after {top: 40%;}
			&::before {@include size(50px);}

			.h2 {
				height: auto;
				padding: $spacer*0.8 $spacer;
				font-size: em(18px);
				.title {height: 1.2em;}
			}
		}

		&.video .thumb {
			&::after {
				margin-left: 2px;
				border-width: 10px 0 10px 15px;
			}
		}
		&.article .thumb {
			&::after {font-size: em(24px);}
		}
	}
}

.news-list {
	@extend .col-xs-8;
	width: 57.5%;

	.article {
		.h3 {
			margin-bottom: $spacer*0.5;
			line-height: 1;
			a {
				@extend %text-truncate;
				height: 1em;
			}
		}
		p {
			height: 3em;
			overflow: hidden;
		}
	}

	@include media-breakpoint-down(lg) {
		width:55%;

		.article {
			p {
				@include text-truncate;
				width: 100%;
				height: 1.5em;
			}
		}
	}

	@include media-breakpoint-down(md) {
		width: 100%;

		.article {
			width: 48.5%;
			float: left;
			padding: $spacer*0.7 $spacer*0.7 $spacer*3.5 $spacer*0.7;

			&:first-of-type {margin-right: 1.5%;}
			&:last-of-type {margin-left: 1.5%;}

			.more {
				left: $spacer*0.8;
				right: auto;
				bottom: $spacer;
				background: #f2f2f2;
				&:hover, &:active {background: $link-hover-color;}
			}
		}
	}

	@include media-breakpoint-down(sm) {
		.article {
			width: 100%;
			float: none;
			&:first-of-type {margin: 0 0 $spacer 0;}
			&:last-of-type {margin: 0 0 $spacer*1.5 0;}
			.h3 a, p {
				height: auto;
				white-space: normal;
				overflow: visible;
			}
		}
	}
}

.article-list {

	.h2 {
		margin-bottom: $spacer*1.5;
		font-size: em(28px);
		font-weight: bold;
		letter-spacing: 0.08em;

		small {
			font-size: em(16px, 28px);
			font-weight: normal;
			color: #999;
			text-transform: uppercase;
		}
	}
}