@charset "UTF-8";

// var
// ------------------------------------------------------------


// import
// ------------------------------------------------------------

// Core variables and mixins
@import "helper/variables";
@import "_web/var";

@import "helper/mixins";
@import "helper/function";

// Reset and dependencies
@import "base/normalize";
@import "base/print";
@import "base/reboot";

// Elements
@import "element/type";
@import "element/images";
// @import "element/tables";
@import "element/forms";
@import "element/buttons";

// Layout
@import "layout/grid";

// Module
@import "module/animation";
// @import "module/button-group";
// @import "module/input-group";
@import "module/custom-forms";
@import "module/nav";
@import "module/navbar";
// @import "module/card";
@import "module/breadcrumb";
// @import "module/pagination";
// @import "module/pager";
@import "module/labels";
// @import "module/jumbotron";
@import "module/alert";
// @import "module/list-group";
@import "module/responsive-embed";
// @import "module/close";

// Components w/ JavaScript
// @import "module/modal";
// @import "module/dropdown";
// @import "module/tooltip";
// @import "module/popover";
// @import "module/carousel";

// Utility classes
@import "helper/utilities-extends";
@import "helper/utilities";
@import "helper/extend";
@import "helper/classes";
// @import "helper/utilities-background";
@import "helper/utilities-spacing";
@import "helper/utilities-responsive";

@import "_web/element";
@import "_web/module";
@import "_web/editor";
@import "_web/layout";


// Elements
// ----------------------------------------------------------------------

.filter {
	li {
		margin:     $spacer*0.25 0;
		padding:    $spacer*0.5 $spacer;
		background: $brand-primary;
		cursor:     pointer;
		transition: color 0.35s, background 0.35s;

		&:hover {
			color:      #fff;
			background: $link-hover-color;
		}
	}

	@include media-breakpoint-down(xs) {
		li {
			padding: $spacer*0.3 $spacer*0.5;
		}
	}
}

#banner {
	height:     250px;
	position:   relative;
	color:      #fff;
	transition: height 0.35s;
	overflow:   hidden;

	&::after {
		content:    " ";
		display:    block;
		width:      100%;
		height:     100%;
		position:   absolute;
		left:       0;
		top:        0;
		background: hsla(0,0,0,0.15);
		z-index:    10;
	}

	.h3, .play, .thumb, .youtube {position: absolute;}

	.h3 {
		@include clearfix;
		width:          100%;
		left:           50%;
		bottom:         $spacer*1.5;
		margin-bottom:  0;
		letter-spacing: 0.05em;
		font-size:      em(36px);
		font-weight:    bold;
		transform:      translateX(-50%);
		text-shadow:    0 0 10px hsla(0,0,0,0.5);
		z-index:        15;

		.label {
	        font-size:   $font-size-lg;
	        text-shadow: none;
	    }
		small, .title {margin-top: $spacer;}
		small         {color: #fff; text-shadow: 0 0 2px hsla(0,0,0,0.7);}
		.title        {line-height: 1.5;}
		.name         {font-weight: bold;}
	}

	img.thumb {
		width: 100%;
		max-width: 1920px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&.video {
		height: 400px;
		background: #000;
		&::after {display: none;}

		.play {
			display: block;
			@include size(50px);
			left: 50%;
			top: 45%;
			transform: translate(-50%, -50%);
			background: #E40000;
			border-radius: 50%;
			box-shadow: 0 0 10px #000;
			z-index: 8;
			transition: transform 0.35s;
			cursor: pointer;

			&::after {
				content:" ";
				display: block;
				position: absolute;
				left: 18px;
				top: 13px;
				border: 12px solid transparent;
				border-left: 18px solid #fff;
				border-right: 0;
			}

			&:hover {transform: translate(-50%, -50%) scale(1.2);}
		}

		i.thumb {
			height: 100%;
			top: 0; left: 50%;
			transform: translateX(-50%);

			&::after {
				content:    " ";
				display:    block;
				width:      100%;
				height:     100%;
				position:   absolute;
				left:       0;
				top:        0;
				background: linear-gradient(to right, hsla(0,0,0,1), hsla(0,0,0,0) 30%, hsla(0,0,0,0) 70%, hsla(0,0,0,1));
			}

	    	img {height: 100%;}
		}

		.youtube {
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background: #000;
			z-index: 20;
			display: none;

			.wrap {
				width: 900px;
				height: 100%;
				padding: 0;
				position: absolute;
				left: 50%;
				top: 0;
				transform: translateX(-50%);
			}
		}
	}

	&.article {
		height: 0;
		padding-bottom: percentage(500 / 1920);
	}

	@include media-breakpoint-down(lg) {
		.h3 {
			bottom: $spacer;
			font-size: em(34px);
			small, .title {margin-top: $spacer*0.5;}
			.title {line-height: 1.3;}
		}
		&.video {
			height: 350px;
			.youtube {
				.wrap {width: 750px;}
			}
		}
	}
	@include media-breakpoint-down(md) {
		height: 200px;
		&::after {display: none;}
		&.video {height: 300px;}
	}
	@include media-breakpoint-down(sm) {
		height: 150px;
	}
	@include media-breakpoint-down(xs) {
		.h3 {
			font-size: em(28px);
		}
		img.thumb {
			width: auto;
			height: 100%;
		}
		&.video {
			height: 0;
			padding-bottom: percentage(350 / 700);

			.youtube {
				.wrap {width: 100%;}
			}
			i.thumb {width: 100%;}
		}
	}
}

.section {
	margin-bottom: $spacer*2.5;

	// .h5 {margin-left: $spacer;}
}

.main-text {
	margin: $spacer*0.8 0 0 $spacer*0.8;
	padding-left: $spacer;
	border-left: 1px solid #ddd;

	@include media-breakpoint-down(xs) {
		margin-left: 0;
		padding-left: $spacer*0.8;
	}
}





// Layout
// ----------------------------------------------------------------------



// Main
// ----------------------------------------------------------------------

// == About Us
.sign {height: 54px; margin-left: $spacer*0.5;}

.member-list {
	position: relative;

	.member {
		position: static;
		height: 120px;
		transition: height 0.35s;

		&:nth-of-type(4n+1) {clear: both;}
		
		.cover {
			@include clearfix;
			width: 100%;
			height: 140px;
			float: left;
		}

		.card-img-top {
			width: 120px;
			height: 120px;
			float: left;
			position: relative;
			margin-right: $spacer*1.5;
			z-index: 10;

			&::after {background: linear-gradient(hsla(0,0,100%,0), hsla(0,0,100%,0.5) 95%);}

			.icon {color: $body-color;}
			&:hover .icon {top: 50%;}
		}

		.card-block {
			margin-top: 60px;
			transform: translateY(-50%);
		}
		.card-title {font-size: em(20px);}
		.card-subtitle {font-size: em(16px);}
		.card-text {height: auto;}

		.intro {
			width: 100%;
			position: absolute;
			top: auto;
			left: 0;
			margin-top: 140px;
			background: #f2f2f2;
			z-index: 100;
			
			.row, p {margin-bottom: 0}
			.row {padding: $spacer*1.5;}

			.h5 {
				font-weight: bold;
				color: $body-color;
				small {color: $gray;}
			}
			.h6 {margin-bottom: $spacer;}
		}
	}

	@include media-breakpoint-down(lg) {
		.member {
			&:nth-of-type(4n+1) {clear: none;}
			&:nth-of-type(3n+1) {clear: both;}
		}
	}

	@include media-breakpoint-down(md) {
		.member {
			&:nth-of-type(3n+1) {clear: none;}
			&:nth-of-type(2n+1) {clear: both;}
		}
	}
}


// == Topic
.gallery {
	li {
		width: 100%;
		height: auto;
		border: 4px solid #fff;

		a {
			display: block;
			overflow: hidden;

			@include hover-focus {
				img {
					transform: scale(1.3);
					opacity: 0.5;
				}
			}
		}

		img, video {width: 100%;}

		img {
			transform: scale(1);
			transition: opacity 2s, transform 2s;
		}

		blockquote {
			margin: 0;
			padding: 16px;
			text-align: center;
			color: #fff;
			font-family: 'Lobster Two', 'Microsoft Jhenghei', \5FAE\8EDF\6B63\9ED1\9AD4, serif;
			font-size: em(30px);

			em {
				font-size: em(20px);
				letter-spacing: 0.05em;
				line-height: 1.2;
			}

			strong {
				display: block;
				font-size: em(30px);
			}
		}

		&.text {background: #e0e0e0;}
		&.video {overflow: hidden;}

		@include media-breakpoint-up(sm) {
			a {
				height: 100%;
				position: relative;
				@include hover-focus {
					img {transform: translate(-50%, -50%) scale(1.3);}
				}
			}

			img, video {
				width: auto;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}

			img {
				min-width: 100%;
				min-height: 100%;
				max-width: 150%;
				max-height: 150%;
			}

			video {height: 135%;}

			blockquote {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				text-align: left;
			}

			&.short {
				img {max-height: 220%;}

				&.video {background: #000;}
				video { width: 100%; height: auto;}
			}
			
			&.thin {
				img {max-width: 220%;}
			}
		}

		@include media-breakpoint-only(sm) {
			width: 50%;
			height: 180px;
			&.col-sm-wide {width: 100%;}
			&.col-sm-tall {height: 360px;}

			blockquote {font-size: em(26px);}
		}

		@include media-breakpoint-only(md) {
			width: 50%;
			height: 220px;
			&.col-md-wide {width: 100%;}
			&.col-md-tall {height: 440px;}
		}

		@include media-breakpoint-only(lg) {
			width: 33.3333%;
			height: 200px;
			&.col-lg-wide {width: 66.6667%;}
			&.col-lg-tall {height: 400px;}
		}

		@include media-breakpoint-up(xl) {
			width: 25%;
			height: 200px;
			&.col-xl-wide {width: 50%;}
			&.col-xl-tall {height: 400px;}
		}
	}
}


// == Events
.c-input {
	@include media-breakpoint-down(xs) {
		display: block;
		& + & {margin-left: 0;}
	}
}

.letter {
	margin-bottom: $spacer*2;
	padding: $spacer*0.8;
	padding-bottom: 30px;
	position: relative;
	background: #F8F6E3;
	box-shadow: 2px 2px 2px hsla(0,0,0,0.1);

	&::after {
		content: " ";
		display: block;
		width: 100%;
		height: 44px;
		position: absolute;
		right: 0;
		bottom: -15px;
		background: url('../images/paper.jpg') no-repeat right bottom;
	}

	p {
		padding-bottom: 8px;
		background: url('../images/line.png') no-repeat center bottom;
	}
}


// == Contact Us
.map {
	width: 100%;
	height: 250px;

	@include media-breakpoint-down(md) {
		margin-bottom: $spacer;
	}
}

.contact-info {
	.h3 {color: $brand-secondary;}
	ul {
		margin-top: $spacer;

		li {
			margin-bottom: $spacer*0.5;
			padding-bottom: $spacer*0.5;
			border-bottom: 1px dotted #ddd;

			strong {
				display: inline-block;
				width: 5em;
				margin-right: $spacer*0.5;
				text-align: right;
			}
		}
	}
}


// == News
.news-list {
	margin-top: $spacer*2.3;
	.article {
		margin-bottom: $spacer*1.8;
		background: #f7f7f7;
	}
}