@charset "UTF-8";

// var
// ------------------------------------------------------------


// import
// ------------------------------------------------------------

// Core variables and mixins
@import "helper/variables";
@import "_web/var";

@import "helper/mixins";
@import "helper/function";

// Reset and dependencies
@import "base/normalize";
@import "base/print";
@import "base/reboot";

// Elements
@import "element/type";
@import "element/images";
// @import "element/tables";
@import "element/forms";
@import "element/buttons";

// Layout
@import "layout/grid";

// Module
@import "module/animation";
// @import "module/button-group";
// @import "module/input-group";
@import "module/custom-forms";
@import "module/nav";
@import "module/navbar";
// @import "module/card";
@import "module/breadcrumb";
// @import "module/pagination";
// @import "module/pager";
@import "module/labels";
// @import "module/jumbotron";
// @import "module/alert";
// @import "module/list-group";
@import "module/responsive-embed";
// @import "module/close";

// Components w/ JavaScript
// @import "module/modal";
// @import "module/dropdown";
// @import "module/tooltip";
// @import "module/popover";
// @import "module/carousel";

// Utility classes
@import "helper/utilities-extends";
@import "helper/utilities";
@import "helper/extend";
@import "helper/classes";
// @import "helper/utilities-background";
@import "helper/utilities-spacing";
@import "helper/utilities-responsive";

@import "_web/element";
@import "_web/module";
@import "_web/editor";
@import "_web/layout";


// Elements
// ----------------------------------------------------------------------

.filter {
	li {
		margin: $spacer*0.25 0;
		padding: $spacer*0.5 $spacer;
		background: $brand-primary;
		cursor: pointer;
		transition: color 0.35s, background 0.35s;

		&:hover {
			color: #fff;
			background: $link-hover-color;
		}
	}

	@include media-breakpoint-down(xs) {
		li {
			padding: $spacer*0.3 $spacer*0.5;
		}
	}
}

.icon {
	&.play {
		display: block;
		@include size(50px);
		position: relative;
		border-radius: 50%;
		background: $brand-danger;

		&::after {
			content:" ";
			display: block;
			position: absolute;
			left: 18px;
			top: 13px;
			border: 12px solid transparent;
			border-left: 18px solid #fff;
			border-right: 0;
		}
	}
}

#banner {
	height: 250px;
	position: relative;
	transition: height 0.35s;
	overflow: hidden;

	.h3, .icon, .thumb, .youtube {position: absolute;}

	.h3 {
		@include clearfix;
		width: 100%;
		left: 50%;
		bottom: $spacer*1.5;
		margin-bottom: 0;
		font-size: em(36px);
		transform: translateX(-50%);
		z-index: 5;
		text-shadow: 0 0 10px #fff;
		.label {
	        font-size: $font-size-lg;
	        text-shadow: none;
	    }
		small, .title {margin-top: $spacer;}
		small {color: $body-color;}
		.title {line-height: 1.5;}
	}

	.icon {
		left: 50%;
		top: 45%;
		transform: translate(-50%, -50%);
		background: #E40000;
		box-shadow: 0 0 10px #000;
		z-index: 8;
		transition: transform 0.35s;
		cursor: pointer;
		
		&:hover {transform: translate(-50%, -50%) scale(1.2);}
	}

	i.thumb {
		height: 100%;
		top: 0; left: 50%;
		transform: translateX(-50%);

		&::after {
			content:" ";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0; top: 0;
			background: linear-gradient(to right, hsla(0,0,0,1), hsla(0,0,0,0) 30%, hsla(0,0,0,0) 70%, hsla(0,0,0,1));
		}

    	img {height: 100%;}
	}

	img.thumb {
		width: 110%;
		height: auto;
		min-height: 100%;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0.5;
		-webkit-filter: blur(8px);
		filter: blur(8px);

		&::after {display: none;}
	}

	.youtube {
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: #000;
		z-index: 10;
		display: none;

		.wrap {
			width: 900px;
			height: 100%;
			padding: 0;
			position: absolute;
			left: 50%;
			top: 0;
			transform: translateX(-50%);
		}
	}

	&.dark {
		background: #000;
		
		.h3 {
			color: #fff;
			text-shadow: 0 0 10px #000;
		}
	}
	
	&.tall, &.taller {font-size: em(32px, 36px);}
	&.tall {
		height: 300px;
		img.thumb {
			-webkit-filter: blur(15px);
			filter: blur(15px);
		}
	}
	&.taller {height: 400px;}

	@include media-breakpoint-down(lg) {
		.h3 {
			bottom: $spacer;
			font-size: em(34px);
			small, .title {margin-top: $spacer*0.5;}
			.title {line-height: 1.3;}
		}
		.youtube {
			.wrap {width: 750px;}
		}
		&.taller {height: 350px;}
	}
	@include media-breakpoint-down(md) {
		height: 200px;
		img.thumb {
			width: auto;
			max-width: 150%;
		}
		&.tall {
			height: 250px;
			img.thumb {
				opacity: 1;
				filter: none;
			}
		}
	}
	@include media-breakpoint-down(sm) {
		height: 180px;
		&.taller {height: 300px;}
	}
	@include media-breakpoint-down(xs) {
		height: 150px;
		.h3 {
			font-size: em(28px);
		}
		.youtube {
			.wrap {width: 100%;}
		}
		i.thumb {width: 100%;}
		&.tall {
			height: 0;
			padding-bottom: percentage(250 / 576);
		}
		&.taller {
			height: 0;
			padding-bottom: percentage(300 / 576);
		}
	}
}

.section {
	margin-bottom: $spacer*2.5;

	// .h5 {margin-left: $spacer;}
}

.main-text {
	margin: $spacer*0.8 0 0 $spacer*0.8;
	padding-left: $spacer;
	border-left: 1px solid #ddd;

	@include media-breakpoint-down(xs) {
		margin-left: 0;
		padding-left: $spacer*0.8;
	}
}





// Layout
// ----------------------------------------------------------------------



// Main
// ----------------------------------------------------------------------

// == About Us
.sign {height: 54px; margin-left: $spacer*0.5;}

.member-list {
	position: relative;

	.member {
		position: static;
		height: 120px;
		transition: height 0.35s;

		&:nth-of-type(4n+1) {clear: both;}
		
		.cover {
			@include clearfix;
			width: 100%;
			height: 140px;
			float: left;
		}

		.card-img-top {
			width: 120px;
			height: 120px;
			float: left;
			position: relative;
			margin-right: $spacer*1.5;
			z-index: 10;

			&::after {background: linear-gradient(hsla(0,0,100%,0), hsla(0,0,100%,0.5) 95%);}

			.icon {color: $body-color;}
			&:hover .icon {top: 50%;}
		}

		.card-block {
			margin-top: 60px;
			transform: translateY(-50%);
		}
		.card-title {font-size: em(20px);}
		.card-subtitle {font-size: em(16px);}
		.card-text {height: auto;}

		.intro {
			width: 100%;
			position: absolute;
			top: auto;
			left: 0;
			margin-top: 140px;
			background: #f2f2f2;
			z-index: 100;
			
			.row, p {margin-bottom: 0}
			.row {padding: $spacer*1.5;}

			.h5 {
				font-weight: bold;
				color: $body-color;
				small {color: $gray;}
			}
			.h6 {margin-bottom: $spacer;}
		}
	}

	@include media-breakpoint-down(lg) {
		.member {
			&:nth-of-type(4n+1) {clear: none;}
			&:nth-of-type(3n+1) {clear: both;}
		}
	}

	@include media-breakpoint-down(md) {
		.member {
			&:nth-of-type(3n+1) {clear: none;}
			&:nth-of-type(2n+1) {clear: both;}
		}
	}
}


// == Events
.c-input {
	@include media-breakpoint-down(xs) {
		display: block;
		& + & {margin-left: 0;}
	}
}


// == Contact Us
.map {
	width: 100%;
	height: 250px;

	@include media-breakpoint-down(md) {
		margin-bottom: $spacer;
	}
}

.contact-info {
	.h3 {color: $brand-secondary;}
	ul {
		margin-top: $spacer;

		li {
			margin-bottom: $spacer*0.5;
			padding-bottom: $spacer*0.5;
			border-bottom: 1px dotted #ddd;

			strong {
				display: inline-block;
				width: 5em;
				margin-right: $spacer*0.5;
				text-align: right;
			}
		}
	}
}


// == News
.news-list {
	margin-top: $spacer*2.3;
	.article {
		margin-bottom: $spacer*1.8;
		background: #f7f7f7;
	}
}