@{
    ViewBag.Title = "協會簡介";
    ViewBag.Title2 = "理念說明";
    ViewBag.BodyClass = "AboutUs p1";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.customShareInfo = false;
}

<h2 class="sr-only">@ViewBag.Title</h2>

<section id="content">

	<div id="banner">
		<h3 class="h3 wrap">
			<span class="title">@ViewBag.Title2</span>
		</h3>
		<img class="thumb" src="~/Content/images/AboutUs/banner.jpg" alt="">
	</div>

    <div class="wrap">

    	<ul class="breadcrumb text-md-right">
    		<li><a href="~/Index">Home</a></li>
    		<li><a href="~/Events">@ViewBag.Title</a></li>
    		<li>@ViewBag.Title2</li>
    	</ul>

    	<article class="article section">
    		<h5 class="h4">關於優靈客</h5>
    		<div class="editor main-text">
    			<p>青年的創新思維與活力向來是國家發展的重要動力。然而，現今新舊世代因缺乏有效的溝通與互動，世代間產生了極大鴻溝，經驗無法有效傳承，嚴重阻礙了社會的進步。</p>
                <p>為了解決世代脫勾的問題，我們成立了台灣優靈客協會，扮演青年知識庫的角色，結合傳統及創新，打造一個讓青年得以實現自我的環境，鼓勵青年築夢踏實，促進台灣青年的發展及成長。</p>
                <p>優靈客是由一群摯愛台灣的熱情份子所組成，發起人來自各專業領域，包括管理、設計、法律、建築、社福、教育、貿易、旅遊、媒體、會計、科技、創意、體育、藝術、醫學等等，皆希望奉獻所長。本協會藉由連結國內外青年，以推展文化藝術、全民體育、觀光旅遊、創新創業及健康促進為主要目標，並建立青年積極正向、樂觀進取的人生觀與價值觀，全方位培養新生代青年菁英。</p>
                <p class="text-xs-right">
                    理事長
                    <img class="sign" src="~/Content/images/AboutUs/signature.jpg" alt="">
                </p>
    		</div>
    	</article>
        
    </div>

</section>