@{
    ViewBag.Title = "協會簡介";
    ViewBag.BodyClass = "AboutUs p2";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts {
	<script>
		var memberH = $(".member").height();

		$(".member .card-img-top").click(function() {

			$(this).parent(".cover").siblings(".intro").on('shown.bs.collapse', function () {
				var introH = $(this).outerHeight();
				var coverH = $(this).siblings(".cover").outerHeight();
				$(this).parent(".member").height(coverH+introH);
				$(".intro").not(this).parent(".member").height(memberH);
			});
			
			$(this).parent(".cover").siblings(".intro").on('hide.bs.collapse', function () {
				$(this).parent(".member").height(memberH);
			});
			
		});
	</script>
}

<h2 class="sr-only">@ViewBag.Title</h2>

<section id="content">

	<div id="banner">
		<h3 class="h3 wrap">
			<span class="title">團隊介紹</span>
		</h3>
		<img class="thumb" src="~/Content/images/AboutUs/banner2.jpg" alt="">
	</div>

    <div class="wrap">

    	<ul class="breadcrumb text-md-right">
    		<li><a href="~/Index">Home</a></li>
    		<li><a href="~/Events">@ViewBag.Title</a></li>
    		<li>團隊介紹</li>
    	</ul>

    	<h3 class="h3">暫無資料</h3>

    	@* <div id="accordion" class="card-list member-list row m-t-2">
			<article class="member card panel">
				<div class="cover">
					<a href="#m01" data-toggle="collapse" data-parent="#accordion" class="card-img-top img-circle">
						<img src="~/Content/images/Index/speech.jpg" alt="">
						<i class="icon ti-zoom-in"></i>
					</a>
					<div class="card-block">
						<h3 class="card-title">吳志揚</h3>
						<h4 class="card-subtitle">John Wu</h4>
						<p class="card-text">召集人</p>
					</div>
				</div>
				<div id="m01" class="intro collapse">
					<dl class="row">
						<dt class="col-xs-3">
						</dt>
						<dd class="col-xs-9">
							<h5 class="h5">吳志揚 <small>John Wu</small></h5>
							<h6 class="h6">召集人</h6>
							<hr class="sm">
							<p>個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介</p>
						</dd>
					</dl>
				</div>
			</article>
			<article class="member card panel">
				<div class="cover">
					<a href="#m02" data-toggle="collapse" data-parent="#accordion" class="card-img-top img-circle">
						<img src="~/Content/images/Index/speech.jpg" alt="">
						<i class="icon ti-zoom-in"></i>
					</a>
					<div class="card-block">
						<h3 class="card-title">吳志揚2</h3>
						<h4 class="card-subtitle">John Wu</h4>
						<p class="card-text">召集人</p>
					</div>
				</div>
				<div id="m02" class="intro collapse">
					<dl class="row">
						<dt class="col-xs-3">
							<img src="~/Content/images/Index/speech.jpg" alt="" class="img-thumbnail">
						</dt>
						<dd class="col-xs-9">
							<h5 class="h5">吳志揚 <small>John Wu</small></h5>
							<h6 class="h6">召集人</h6>
							<hr class="sm">
							<p>個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介</p>
						</dd>
					</dl>
				</div>
			</article>
			<article class="member card panel">
				<div class="cover">
					<a href="#m03" data-toggle="collapse" data-parent="#accordion" class="card-img-top img-circle">
						<img src="~/Content/images/Index/speech.jpg" alt="">
						<i class="icon ti-zoom-in"></i>
					</a>
					<div class="card-block">
						<h3 class="card-title">吳志揚3</h3>
						<h4 class="card-subtitle">John Wu</h4>
						<p class="card-text">召集人</p>
					</div>
				</div>
				<div id="m03" class="intro collapse">
					<dl class="row">
						<dt class="col-xs-3">
							<img src="~/Content/images/Index/speech.jpg" alt="" class="img-thumbnail">
						</dt>
						<dd class="col-xs-9">
							<h5 class="h5">吳志揚 <small>John Wu</small></h5>
							<h6 class="h6">召集人</h6>
							<hr class="sm">
							<p>個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介</p>
						</dd>
					</dl>
				</div>
			</article>
			<article class="member card panel">
				<div class="cover">
					<a href="#m04" data-toggle="collapse" data-parent="#accordion" class="card-img-top img-circle">
						<img src="~/Content/images/Index/speech.jpg" alt="">
						<i class="icon ti-zoom-in"></i>
					</a>
					<div class="card-block">
						<h3 class="card-title">吳志揚4</h3>
						<h4 class="card-subtitle">John Wu</h4>
						<p class="card-text">召集人</p>
					</div>
				</div>
				<div id="m04" class="intro collapse">
					<dl class="row">
						<dt class="col-xs-3">
							<img src="~/Content/images/Index/speech.jpg" alt="" class="img-thumbnail">
						</dt>
						<dd class="col-xs-9">
							<h5 class="h5">吳志揚 <small>John Wu</small></h5>
							<h6 class="h6">召集人</h6>
							<hr class="sm">
							<p>個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介</p>
						</dd>
					</dl>
				</div>
			</article>
			<article class="member card panel">
				<div class="cover">
					<a href="#m05" data-toggle="collapse" data-parent="#accordion" class="card-img-top img-circle">
						<img src="~/Content/images/Index/speech.jpg" alt="">
						<i class="icon ti-zoom-in"></i>
					</a>
					<div class="card-block">
						<h3 class="card-title">吳志揚5</h3>
						<h4 class="card-subtitle">John Wu</h4>
						<p class="card-text">召集人</p>
					</div>
				</div>
				<div id="m05" class="intro collapse">
					<dl class="row">
						<dt class="col-xs-3">
						</dt>
						<dd class="col-xs-9">
							<h5 class="h5">吳志揚 <small>John Wu</small></h5>
							<h6 class="h6">召集人</h6>
							<hr class="sm">
							<p>個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介個人資料簡介</p>
						</dd>
					</dl>
				</div>
			</article>
		</div> *@
        
    </div>

</section>