@{
	ViewBag.Title = "首頁";
    ViewBag.IsFirstPage = true;
    ViewBag.BodyClass = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.customShareInfo = false;
}

@section css {
	<link href="~/Content/css/vendor/swiper.min.css" rel="stylesheet">
}

@section Scripts {
	<script src="~/Content/js/swiper/swiper.min.js"></script>
	<script>
		var swiper = new Swiper('#banner', {
            effect: 'fade',
            autoplay: 2500,
            speed: 1200
        });
	</script>
}

<h1 class="sr-only">@ViewBag.Title</h1>

<section id="banner" class="swiper-container">
	<ol class="swiper-wrapper list-unstyled">
		<li class="swiper-slide">
			<img src="~/Content/images/Index/banner.jpg?v=@CommWebSetup.CacheVer" alt="">
			<h2 class="slogan">
				JOIN US
				<small>我們正在尋找充滿熱情、有幹勁、想一起改變世界的夥伴。</small>
				<a href="~/Events" class="btn btn-success btn-lg">活動參與 <i class="ti-arrow-right"></i></a>
			</h2>
		</li>
	</ol>
</section>

<div id="content">

	<div class="grid-intro">

		<div class="wrap"><div class="row">
			
			<section class="news-list pull-lg-right">
                <h2 class="sr-only">最新消息 Latest News</h2>
                <article class="article">
                    <h3 class="h3">
                        <small>2018-09-20</small>
                        <a href="~/Topic/Content006">2018 遊騎花蓮壯遊行</a>
                    </h3>
                    <p>「遊騎花蓮壯遊行」，跟著在地達人探索古樸與繁華兼具的老街，享用花蓮的特殊風味餐，不僅如此，還挑戰自己，靠著腳力騎完全國首創的兩潭自行車道！</p>
                    <a href="~/Topic/Content006" class="btn btn-primary more">Read More</a>
                </article>
                <article class="article">
                    <h3 class="h3">
                        <small>2017-08-23</small>
                        <a href="~/Topic/Content003">2017 我是壯遊客 - 壯遊木作</a>
                    </h3>
                    <p>今年！台灣優靈客協會邀請各路好手繼續來大展身手，歡迎大家一同來挑戰自己！</p>
                    <a href="~/Topic/Content003" class="btn btn-primary more">Read More</a>
                </article>
                @*<article class="article">
                    <h3 class="h3">
                        <small>2017-11-20</small>
                        <a href="~/Events/Events006">2017 運動新視野 論壇</a>
                    </h3>
                    <p>本會成立主旨為「藉由連結國內外青年，以推展 文化藝術、全民體育、觀光旅遊、創新創業及健康促進為主要目標，並建立青年積極正向、樂觀進取的人生觀與價值觀，全方位培養新生代青年菁英。」⋯⋯</p>
                    <a href="~/Events/Events006" class="btn btn-primary more">Read More</a>
                </article>*@
                @*<article class="article">
                    <h3 class="h3">
                        <small>2017-06-01</small>
                        <a href="~/News/Content006">台灣優靈客協會第一屆第二次會員大會暨會員親子日</a>
                    </h3>
                    <p>本協會謹訂於106年6月4日(星期日)上午10時假郭元益糕餅博物館(楊梅館)，舉辦「台灣優靈客協會第一屆第二次會員大會暨會員親子日」活動。</p>
                    <a href="~/News/Content006" class="btn btn-primary more">Read More</a>
                </article>*@
                @*<article class="article">
                    <h3 class="h3">
                        <small>2017-03-23</small>
                        <a href="~/News/Content005">Earth Hour 60+ 關燈愛地球</a>
                    </h3>
                    <p>台灣優靈客協會響應 Earth Hour 地球一小時，3月25日 晚上8點30分，邀請大家與全世界一起關燈，共同節能、減碳、愛地球！</p>
                    <a href="~/News/Content005" class="btn btn-primary more">Read More</a>
                </article>*@
                @* <article class="article">
                    <h3 class="h3">
                        <small>2016-12-30</small>
                        <a href="~/News/Content005">一杯咖啡的時間：61℃講堂</a>
                    </h3>
                    <p>61°C咖啡講座以小型講堂的概念，一場約30~40人的方式進行，講座時間約45分鐘，另有16分鐘Q&A的時間，希望能利用一杯咖啡的時間，與聽講者分享及討論他們所關心的議題。</p>
                    <a href="~/Events/Events004" class="btn btn-primary more">Read More</a>
                </article> *@
                @* <article class="article">
                    <h3 class="h3">
                        <small>2016-07-01</small>
                        <a href="~/Events/Events002">探索台灣．我是壯遊客－「遇見塔曼」</a>
                    </h3>
                    <p>為發揮在地精神，台灣優靈客協會特別規劃「探索台灣．我是壯遊客」系列活動，串連全台灣北、中、南、東，找出台灣特有的環境旅遊方式，啟發自身的優質靈感，提供不一樣的台灣新壯遊精神！</p>
                    <a href="~/Events/Events002" class="btn btn-primary more">Read More</a>
                </article> *@
                @* <article class="article">
                    <h3 class="h3">
                        <small>2016-04-19</small>
                        <a href="~/Events/Events001">「我們的那時．此刻」電影欣賞活動</a>
                    </h3>
                    <p>吳志揚理事長特於6月15日(三)邀請本會會員共同來欣賞由楊力州導演執導、金馬獎紀錄片「那時．此刻」，此紀錄片內容跨越50年記憶，重新回顧台灣電影史及它背後的時代，無比感動。</p>
                    <a href="~/Events/Events001" class="btn btn-primary more">Read More</a>
                </article> *@
			</section>

            <section class="feature article pull-lg-left">
                <a href="~/Topic/Content006" class="thumb">
                    <img src="~/Content/images/Events/data/007/cover.jpg" alt="">
                    <h2 class="h2"><span class="title">2018 遊騎花蓮壯遊行</span><small>社團法人台灣優靈客協會</small></h2>
                </a>
            </section>
            @*<section class="feature article pull-lg-left">
				<a href="~/Events/Events002" class="thumb">
					<img src="~/Content/images/Topic/data/002/cover.jpg" alt="">
					<h2 class="h2"><span class="title">原生文化體驗營</span><small>探索台灣．我是壯遊客 系列活動</small></h2>
				</a>
			</section>
			@*<section class="feature article pull-lg-left">
                <a href="~/Events/Events003" class="thumb">
                    <img src="~/Content/images/Topic/data/003/pic6.jpg" alt="">
                    <h2 class="h2"><span class="title">原生文化體驗營：木作壯遊 &amp; 攀樹壯遊</span><small>探索台灣．我是壯遊客 系列活動</small></h2>
                </a>
            </section>*@

            </div></div>

        </div>

        <section class="article-list"><div class="wrap">

            <h2 class="h2">精選文章 <small>Articles</small></h2>

            <div class="card-list">

                <article class="article card">
                    <a href="~/Articles/Content002" class="card-img-top">
                        <img src="~/Content/images/Articles/data/002/cover.jpg" alt="">
                        <i class="icon ti-search"></i>
                        <ul class="info list-inline">
                            <li class="name">葛望平</li>
                            <li class="date"><i class="ti-calendar"></i> 2016-05-30</li>
                        </ul>
                    </a>
                    <div class="card-block">
                        <h3 class="card-title">歐萊德國際股份有限公司：葛望平董事長</h3>
                        <p class="card-text">我從國小開始，就會織魚網、繡旗袍、繡鞋子，年少時期就半工半讀我，心底就已經開始萌芽...</p>
                        <a href="~/Articles/Content002" class="btn btn-primary">繼續閱讀 <i class="ti-arrow-right"></i></a>
                    </div>
                </article>

                <article class="article card">
                    <a href="~/Articles/Content001" class="card-img-top">
                        <img src="~/Content/images/Articles/data/001/cover.jpg" alt="">
                        <i class="icon ti-search"></i>
                        <ul class="info list-inline">
                            <li class="name">陶君亮</li>
                            <li class="date"><i class="ti-calendar"></i> 2016-05-27</li>
                        </ul>
                    </a>
                    <div class="card-block">
                        <h3 class="card-title">巨星造船股份有限公司：陶君亮董事長</h3>
                        <p class="card-text">台灣身為遊艇王國，過去行銷靠的是物美價廉，但如今國際社會情勢轉變，大環境已截然不同，要在產業界佔有一席之地，研發...</p>
                        <a href="~/Articles/Content001" class="btn btn-primary">繼續閱讀 <i class="ti-arrow-right"></i></a>
                    </div>
                </article>

            </div>

            <p class="text-xs-center"><a href="~/Articles/List" class="btn btn-success btn-lg">看更多精選文章</i></a></p>

        </div></section>

    </div>