@{
	ViewBag.Title = "首頁";
    ViewBag.IsFirstPage = true;
    ViewBag.BodyClass = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section css {
	<link href="~/Content/css/vendor/swiper.min.css" rel="stylesheet">
}

@section Scripts {
	<script src="~/Content/js/swiper/swiper.min.js"></script>
	<script>
		var swiper = new Swiper('#banner', {
            effect: 'fade',
            autoplay: 2500,
            speed: 1200
        });
	</script>
}

<h1 class="sr-only">@ViewBag.Title</h1>

<section id="banner" class="swiper-container">
	<ol class="swiper-wrapper list-unstyled">
		<li class="swiper-slide">
			<img src="~/Content/images/Index/banner.jpg?v=@CommWebSetup.CacheVer" alt="">
			<h2 class="slogan">
				JOIN US
				<small>我們正在尋找充滿熱情、有幹勁、想一起改變世界的夥伴。</small>
				<a href="~/Events/p2" class="btn btn-success btn-lg">活動參與 <i class="ti-arrow-right"></i></a>
			</h2>
		</li>
	</ol>
</section>

<div id="content">

	<div class="grid-intro">

		<div class="wrap"><div class="row">
			
			<section class="news-list pull-lg-right">
				<h2 class="sr-only">最新消息 Latest News</h2>
				<article class="article">
	                <h3 class="h3">
	                    <small>2016-04-19</small>
	                    <a href="~/News/Content004">《那時．此刻》電影欣賞與導演對談</a>
	                </h3>
	                <p>台灣優靈客協會 協辦《那時．此刻》電影欣賞與導演對談活動，歡迎有興趣的朋友們踴躍參與！</p>
	                <a href="~/News/Content004" class="btn btn-primary more">Read More</a>
	            </article>
	            <article class="article">
	                <h3 class="h3">
	                    <small>2015-10-30</small>
	                    <a href="~/News/Content003">第一屆第一次會員大會暨理監事會議</a>
	                </h3>
	                <p>台灣優靈客協會 召開第一屆第一次會員大會暨理監事會議</p>
	                <a href="~/News/Content003" class="btn btn-primary more">Read More</a>
	            </article>
			</section>

			<section class="video pull-lg-left">
				<a href="~/Videos/Content001" class="thumb">
					<img src="~/Content/images/Videos/data/001/cover.jpg?v=@CommWebSetup.CacheVer" alt="">
					<h2 class="h2"><span class="title">壯遊客 - 遇見塔曼</span>@* <small></small> *@</h2>
				</a>
			</section>

		</div></div>

	</div>

	<section class="article-list"><div class="wrap">
		<h2 class="h2">精選文章 <small>Articles</small></h2>
		<div class="card-list row">

			<article class="article card">
				<a href="~/Articles/Content002" class="card-img-top">
					<img src="~/Content/images/Articles/data/002/cover.jpg" alt="">
					<i class="icon ti-eye"></i>
					<small>
						<span class="name">葛望平</span>
						<span class="date"><i class="ti-calendar"></i>2016-05-30</span>
					</small>
				</a>
				<div class="card-block">
					<h3 class="card-title">歐萊德國際股份有限公司:葛望平董事長</h3>
					<p class="card-text">我從國小開始，就會織魚網、繡旗袍、繡鞋子，年少時期就半工半讀我，心底就已經開始萌芽...</p>
					<a href="~/Articles/Content002" class="more">繼續閱讀</a>
				</div>
			</article>

			<article class="article card">
				<a href="~/Articles/Content001" class="card-img-top">
					<img src="~/Content/images/Articles/data/001/cover.jpg" alt="">
					<i class="icon ti-eye"></i>
					<small>
						<span class="name">陶君亮</span>
						<span class="date"><i class="ti-calendar"></i>2016-05-27</span>
					</small>
				</a>
				<div class="card-block">
					<h3 class="card-title">巨星造船股份有限公司:陶君亮董事長</h3>
					<p class="card-text">台灣身為遊艇王國，過去行銷靠的是物美價廉，但如今國際社會情勢轉變，大環境已截然不同，要在產業界佔有一席之地，研發...</p>
					<a href="~/Articles/Content001" class="more">繼續閱讀</a>
				</div>
			</article>
			
		</div>
		<p class="text-xs-center"><a href="~/Articles/List" class="btn btn-primary">Read More</a></p>
	</div></section>

</div>