@charset "UTF-8";


/*      config
-----------------------------------------------------------------------*/

// var
// 

$footer-height:         210px !default;
$content-spacing:       32px !default;

// base
//

html, body { height: 100%; }

a {
    @include transition(color 0.3s, background 0.3s);
    &:focus { outline: none; }
}



/*      layout
-----------------------------------------------------------------------*/

body.toggled {
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    position: fixed;
}

#wrapper {
    @if $enable-lte7 { _height: 100%; }
    min-height: 100%;
    padding-bottom: $footer-height + $content-spacing;
}

.wrap {
    @include make-container();
    @include make-container-max-widths();

    position: relative;
}

#header, #footer, #main {
    position: relative;
}



/*      elements
-----------------------------------------------------------------------*/
.gsc-control-cse {
    padding: 0 !important;
    background: none !important;
    border: none !important;
}
.gsc-search-box {
    margin: 0 !important;
    background: none !important;
}
.gsib_a {
    padding: 0 !important;
}
.gsib_b {
    display: none !important;
}
.gsc-input-box {
    border: 0 !important;
}
td.gsc-input {
    padding: 0 !important;
}
input.gsc-input {
    width: 10em !important;
    background: none !important;
    border: 0 !important;
    border-radius: 10px;
}
input.gsc-search-button {
    width: 45px !important;
    height:20px !important;
    margin: 3px 0 0 0 !important;
    padding: 0 !important;
    position: relative;
    opacity: 0;
    z-index: 1000;
}


// header
// ----------------------------------------------------------------------
#header {
    height: 233px;
    z-index: $zindex-navbar;

    &::before {
        content: " ";
        display: block;
        width: 100%;
        height: 73px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: $brand-primary;
        border-top: 3px solid #F8EA6B;
    }

    .logo, .topNav, .search {position: absolute;}

    .wrap {padding: 45px 0 0 280px;}

    .logo {left: 0; top: 5px;}

    .h1 {
        font-size: em(32px);
        letter-spacing: 0.2em;

        small {
            font-size: em(18.5px, 32px);
            font-weight: 300;
            letter-spacing: 0;
        }

        a {color: $body-color;}
    }

    .slogan {
        font-size: em(20px);
        color: #666;
    }

    .topNav {
        right: 0;
        top: 40px;

        li {margin-left: $spacer*0.5;}

        a {
            font-size: em(18.5px);
            color: #ccc;
            &:hover {color: $brand-primary;}
        }
    }

    .search {
        right: 0;
        top: 80px;

        .form-group {
            position: relative;
            margin: 0;
            padding: 4px 0 4px 12px;
            border: 1px solid #ccc;
            border-radius: 19px;
        }
        .form-control {
            padding-right: 50px;
            border-radius: 19px;
        }

        .ti-search {
            position: absolute;
            right: 12px;
            top: 10px;

            font-size: em(18.5px);
            color: #ccc;
        }

        // .btn {
        //     position: absolute;
        //     right: 0;
        //     top: 0;

        //     font-size: em(18.5px);
        //     color: #ccc;
        //     background: none;
        // }
    }

    @include media-breakpoint-down(lg) {
        height: 185px;

        &::before {height: 63px;}

        .logo {
            width: 180px;
            top: 12px;
            img {max-width: 100%;}
        }

        .wrap {padding: 32px 0 0 210px;}
        .h1 {
            margin-bottom: $spacer*0.5;
            font-size: em(24px);
            letter-spacing: 0.1em;

            small {
                font-size: em(16px,24px);
            }
        }

        .slogan {
            font-size: em(16px);
            color: #666;
            letter-spacing: 0.1em;
        }

        .topNav {
            top: 20px;

            li {margin-left: $spacer*0.2;}

            a {font-size: em(16px);}
        }

        .search {
            top: 55px;

            // .form-control {
            //     padding: 2px 42px 2px 15px;
            //     border-radius: 15px;
            // }

            // .btn {
            //     padding: 2px 12px 2px 12px;
            //     font-size: em(16px);
            // }
        }
    }

    @include media-breakpoint-down(md) {
        height: 110px;

        &::before {display: none;}

        .navbar-toggler {
            position: absolute;
            left: $grid-gutter-width/2;
            top: 35px;
            background: $brand-primary;
            &:hover, &:active, &:focus {background: $link-hover-color;}
        }

        .logo, .slogan {display: none;}

        .wrap {padding: 10px $grid-gutter-width/2;}

        .h1 {
            height: 90px;
            margin: 0 0 0 115px;
            padding: 20px 0 0 110px;
            float: left;

            font-size: em(20px);
            background: url('#{$img-path}/logo.png') no-repeat;
            background-size: contain;

            small {
                display: block;
                margin-top: 10px;
                font-size: em(14px, 20px);
            }
        }

        // .search {
        //     .form-control {width: 14em;}
        // }
    }

    @include media-breakpoint-down(sm) {
        height: auto;

        .topNav,
        .search-toggler {right: $grid-gutter-width/2}

        .search-toggler {
            position: absolute;
            right: $grid-gutter-width/2;
            top: 55px;
            padding: 0;
            color: #ccc;

            &.collapsed {
                .ti-close::before {content:"\e610";}
            }
        }

        .search {
            display: block;
            height: 0;
            position: static;
            clear: both;
            overflow: hidden;

            &.in {height: auto;}

            .collapse-wrap {
                padding: $spacer*1.5 0 $spacer*0.5 0;
            }

            .form-group {
                display: block;
            }
            // .form-control {
            //     width: 100%;
            //     font-size: em(20px);
            //     border-radius: 18px;
            // }
            // .btn {
            //     top: $spacer*1.5;
            //     font-size: em(20px);
            // }
        }
    }
    @include media-breakpoint-down(xs) {
        &::before {
            display: block;
            height: 30px;
            top: 0;
            bottom: auto;
            background: #f2f2f2;
            border: none;
        }
        .wrap {padding-top: 40px;}
        .navbar-toggler {top: 0px;}
        .topNav,
        .search-toggler {top: 3px;}
        .topNav {
            right: 2.8em;
            a {color: #999;}
        }
        .search-toggler {color: #999;}
        .h1 {
            width: 290px;
            float: none;
            margin: 0 auto;
            padding-left: 120px;
        }
    }
}

#menu {
    width: 100%;
    position: absolute;
    left: 0;
    top: 163px;
    padding: 0;

    .wrap {
        position: static;
        padding-top: 0;
    }

    .navbar-nav {
        > li {
            width: 16.6%;
            margin:0;

            > a {
                display: block;
                height: 70px;
                padding: 0;
                text-align: center;
                line-height: 70px;
                font-size: em(20px);
                font-weight: bold;
                color: #000;
            }

            small {display: none;}

            $selector: ();
            @each $item in $pages {
                $i: index($pages, $item);
                $selector: append($selector, unquote(".#{$item} &:nth-of-type(#{$i}) > a"), comma);
            }
            > a:hover, #{$selector} {
                color: #fff;
                background: $link-color;
            }
            #{$selector} {
                & + .sidebar {display: block;}
            }
        }
    }

    @include media-breakpoint-down(lg) {
        top: 125px;

        .navbar-nav {
            > li {
                > a {
                    height: 60px;
                    font-size: em(18px);
                    line-height: 60px;
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        background: hsla(0,0,0,0.85);
        display: none;

        .wrap {
            width: 100%;
            height: 100vh;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
        }

        .close {
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            right: $spacer;
            top: $spacer;
            text-align: center;
            font-size: em(16px);
            color: #fff;
            background: none;
            border: 0;
            z-index: 1000;
        }

        .navbar-nav {
            width: 200px;
            height: 100%;
            position: relative;
            margin: 0 auto;
            padding: $spacer 0;
            overflow-y: auto;
            overflow-x: hidden;

            > li {
                width: 100%;
                float: none;

                > a {
                    display: block;
                    height: 100%;
                    padding: $spacer 0;

                    line-height: 1;
                    // font-weight: normal;
                    font-size: em(20px);
                    letter-spacing: 0.1em;
                    color: #ccc;
                }

                $selector: ();
                @each $item in $pages {
                    $i: index($pages, $item);
                    $selector: append($selector, unquote(".#{$item} &:nth-of-type(#{$i}) > a"), comma);
                }
                > a:hover, > a:active, #{$selector} {
                    color: $brand-primary;
                    background: none;
                }
            }
        }
    }
}

.sidebar {
    width: 100%;
    position: absolute;
    left: 0;
    top:70px;
    margin-bottom: 0;
    background: hsla(48, 95%, 90, 0.8);
    border-top: 3px solid #EDC000;
    border-bottom: 1px solid hsl(48, 95%, 90);
    z-index: 10;
    display: none;

    > li {
        position: relative;

        &::after {
            content: " ";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 50%; top: 50%;
            transform: translate(-50%, -50%) scale(0);
            background: $brand-primary;
            transition: transform 0.35s;
        }

        > a {
            display: block;
            position: relative;
            padding: $spacer*0.5 $spacer;
            font-weight: bold;
            color: $body-color;
            z-index: 10;
        }

        &:hover,
        .p1 &:nth-of-type(1),
        .p2 &:nth-of-type(2),
        .p3 &:nth-of-type(3) {
            &::after {transform: translate(-50%, -50%) scale(1);}
        }
    }

    @include media-breakpoint-down(lg) {
        top: 60px;
    }

    @include media-breakpoint-down(md) {
        width: 6em;
        position: static;
        margin: 0 auto $spacer*0.5 auto;
        padding: 0;
        background: none;
        border: 0;

        > li {
            display: block;
            margin: 0 0 $spacer*0.3 0;
            padding: 0;

            &:not(:last-child) {margin-right: 0;}

            &::after {
                @include size(0);
                left: 1px; top: 50%;
                transform: translateY(-50%);
                background: none;
                border: 4px solid transparent;
                border-right-width: 0;
                border-left: 4px solid $brand-primary;
                opacity: 0;
            }

            > a {
                padding: 0;
                color: #fff;
                font-size: em(16px);
                letter-spacing: 0.05em;
            }

            &:hover,
            .p1 &:nth-of-type(1),
            .p2 &:nth-of-type(2) {
                &::after, > a {opacity: 1;}
            }
        }
    }
}


// main
// ----------------------------------------------------------------------
#content {

}


// footer
// ----------------------------------------------------------------------
#footer {
    height: $footer-height;
    margin-top: -($footer-height);

    .wrap {
        @include clearfix;
        padding-top: $spacer*1.2;
        border-top: 3px solid $brand-primary;
    }

    .logo {
        float: left;

        a {
            @include text-hide;
            overflow: hidden;

            display: block;
            width: 123px;
            height: 105px;
            background: url('#{$img-path}/logo.png') no-repeat;
            background-size: contain;
        }
    }

    .about,
    .menu,
    .copyright {float: left;}

    .about,
    .menu {
        margin-left: $spacer*1.5;
        margin-right: $spacer*1.5;
    }

    .about, .copyright {width: 45%;}
    .menu {width: 30%;}

    .about {
        margin-top: $spacer*0.5;

        .h2 {
            font-size: em(16px);
            font-weight: bold;
        }
        p {
            font-size: em(14px);
            color: #333;
        }
    }

    .menu {
        margin-top: $spacer*0.5;
        margin-bottom: -$spacer*1.25;

        > li {
            height: 1.5em;
            float: left;
            position: relative;
            margin: 0  $spacer*1.5 $spacer 0;
            padding-left: $spacer;
            letter-spacing: 0.08em;

            &::before {
                content: " ";
                display: block;
                @include size(0);
                position: absolute;
                left: 0;
                top:6px;
                border: 6px solid transparent;
                border-left: 8px solid $brand-primary;
                border-right-width: 0;
            }

            > a, > ul {float: left;}

            > a {
                display: block;
                font-weight: bold;
                color: $body-color;
                &:hover {color: $link-hover-color;}
            }

            > ul {
                margin-left: $spacer*0.8;
                > li {
                    > a {
                        padding-bottom: 3px;
                        font-size: em(14px);
                        color: #4D4D4D;

                        &:hover {
                            color: $body-color;
                        }
                    }
                }
            }

        }
    }

    .copyright {
        margin-top: -20px;
        padding-left: 123 + 24px;
        color: #999;
        font-size: em(12px);
    }

    .contact {
        text-align: center;
        color: #857762;
        font-size: em(14px);

        li {margin-right: 20px;}
        a {
            color: #857762;

            &:hover {color: $link-hover-color;}
        }

        [class*="icon-"] {
            margin-right: 7px;
            font-size: em(18px);

        }
    }

    .social {
        width: 104px;
        position: absolute;
        right: 0;
        top: $spacer*2;

        li {
            margin: 0 $spacer*0.4;
            &.qr {
                display: block;
                margin: 0 0 $spacer 0;
            }
        }

        a {
            font-size: em(18.5px);
            color: #ccc;
            &:hover {color: $brand-primary;}
        }
    }

    @include media-breakpoint-down(lg) {
        .about,
        .menu {
            margin-left: $spacer;
            margin-right: $spacer;
        }
        .about {width: 38%;}
        .copyright {
            margin: 0;
            padding-left: 123 + 16px;
        }
        .menu {
            > li {
                margin: 0  $spacer*1.25 $spacer*0.8 0;
            }
        }
    }

    @include media-breakpoint-down(md) {
        .about,
        .menu,
        .copyright {
            width: 100%;
            float: none;
            @include clearfix;
        }
        .about {
            height: 105px;
            margin: 0 0 $spacer*1.3 0;
            padding-left: 140px;
            h2 {padding-top: 10px;}
            p {margin-bottom: 0;}
        }
        .menu {
            margin: 0 0 $spacer*1.3 0;
            text-align: center;
            > li {
                display: inline-block;
                float: none;
                margin: 0 0 0 $spacer*0.8;
                &::before {display: none;}
                &:not(:first-of-type) {
                    border-left: 1px solid #ccc;
                }
                > .submenu {display: none;}
            }
        }
        .social {
            width: 90px;
            top: 10px;
            right: $grid-gutter-width/2;
            li.qr {display: none;}
            a {font-size: em(14px);}
        }
        .copyright {
            padding: $spacer*0.5 0;
            text-align: center;
        }
    }

    @include media-breakpoint-down(sm) {
        .about {height: auto;}
        .menu {
            > li {
                margin-left: $spacer*0.5;
                padding-left: $spacer*0.5;
                &:first-of-type {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    @include media-breakpoint-down(xs) {
        .logo {
            float: none;
            margin-bottom: $spacer*0.5;
            a {height: 80px;}
        }
        .about {padding-left: 0;}
        .menu {
            margin-bottom: 0;
            > li {
                margin: 0 0 $spacer*0.3 0;
                padding: 0 $spacer*0.5;
                &:first-of-type {
                    margin: 0 0 $spacer*0.3 0;
                    padding: 0 $spacer*0.5;
                }
                &:not(:first-of-type) {border: none;}
            }
        }
        .social {
            width: 105px;
            top: 40px;
            a {font-size: em(18px);}
        }
    }
}

.goTop {
    @include size(34px);

    position: fixed;
    right: 10px;
    bottom: 10px;

    color: #fff;
    background: $link-color;
    border-radius: 50%;
    opacity: 0.6;
    
    display: none;

    &:focus, &:hover {
        color: #fff;
        opacity: 1;
    }

    [class*="ti-"] {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        font-size: em(10px);
    }
}