@charset "UTF-8";

// Settiings
$enable-lte7:                   false;
$enable-rounded:                false;
$img-path:                      '../images';
$font-path:                     '../font/';
$pages:                         'Topic' 'Articles' 'Events' 'AboutUs' 'ContactUs' 'News';
$subpages-max:                  2;


// Colors
$brand-primary-light:             lighten($brand-primary,47%);
$brand-primary-dark:              darken($brand-primary,10%);
$brand-secondary:                 #349CCF !default;
$red:                             #F44336 !default;
$pink:                            #E91E63 !default;
$purple:                          #9D83BC !default;
$deep-purple:                     #673AB7 !default;
$indigo:                          #3F51B5 !default;
$blue:                            #2196F3 !default;
$light-blue:                      #87CEEB !default;
$cyan:                            #00BCD4 !default;
$aqua:                            #67EAEA !default;
$teal:                            #009688 !default;
$green:                           #4CAF50 !default;
$light-green:                     #8BC34A !default;
$lime:                            #CDDC39 !default;
$sand:                            #FDF5E6 !default;
$khaki:                           #F0E68C !default;
$yellow:                          #FFEB3B !default;
$amber:                           #FFC107 !default;
$orange:                          #FF9800 !default;
$deep-orange:                     #FF5722 !default;
$blue-grey:                       #607D8B !default;
$brown:                           #795548 !default;
$light-grey:                      #F1F1F1 !default;
$grey:                            #9E9E9E !default;
$dark-grey:                       #616161 !default;
$black:                           #000    !default;
$white:                           #fff    !default;
$pale-red:                        #FFE7E7 !default;
$pale-yellow:                     #FFFFD7 !default;
$pale-green:                      #E7FFE7 !default;
$pale-blue:                       #E7FFFF !default;

$link-color:                    #F98D13;
$link-hover-color:              $brand-secondary;


// Typography
$font-family-en:                "Open Sans", "Helvetica Neue", Helvetica, Arial, 'Microsoft Jhenghei', \5FAE\8EDF\6B63\9ED1\9AD4, sans-serif !default;


// Table
$table-cell-padding:            .35rem .75rem;
$table-bg:                      #fff;
$table-bg-accent:               #F5F5F5;
$thead-bg:                      #ccc;
$table-border-color:            $table-bg;


// Buttons

$btn-padding-y:                 .3rem;

$btn-padding-x-lg:              1.35rem;
$btn-padding-y-lg:              .6rem;

$btn-border-radius:             .5rem;
$btn-border-radius-lg:          .625rem;

$btn-primary-border:            #E5E5E5;

$btn-secondary-color:           lighten($link-color, 30%);
$btn-secondary-bg:              #333;
$btn-secondary-border:          transparent;

$btn-muted-color:               #fff !default;
$btn-muted-bg:                  lighten($gray-light,20%) !default;
$btn-muted-border:              $btn-muted-bg !default;

$btn-danger-bg:                 darken($btn-danger-bg,10%);


// Forms
$input-border-focus:            #818E96;
$input-color-placeholder:       #5F6D68;


// Navbar
$navbar-padding-horizontal:     0;
$navbar-padding-vertical:       $spacer*0.375;


// Navs
$nav-tabs-border-color:                     $brand-secondary;

$nav-tabs-active-link-hover-bg:             #544D48;
$nav-tabs-active-link-hover-color:          #fff;
$nav-tabs-active-link-hover-border-color:   transparent;


// Cards
$card-border-width:             0;
$card-spacer-x:                 .75rem;


// Labels
$label-primary-bg:              #F98D13;
