@{
    ViewBag.Title = "活動參與";
    ViewBag.Title2 = "2018 遊騎花蓮壯遊行 Grand Tour Hualien．Biking Challenge";
    ViewBag.BodyClass = "Events p2";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.customShareInfo = true;
    ViewBag.ogUrl = "http://www.ulink.org.tw/Events/Events007";
    ViewBag.ogTitle = ViewBag.Title2;
    ViewBag.ogDescription = "";
}

@section CSS {
    <style>
        .table td {
            border-color: #eee;
            vertical-align: middle;
        }
        .text-left { text-align: left; }
        #banner::after{background: none;}
        #banner .h3{text-shadow: 0 0 10px rgba(0,0,0,0.8)}
        #banner .h3 small{text-shadow: 0 0 5px rgba(0,0,0,0.9);}
    </style>
}

<h2 class="sr-only">@ViewBag.Title</h2>

<section id="content">

    <h3 class="sr-only">活動預告</h3>

    <div id="banner" class="article">
        <h4 class="h3 wrap hidden-md-down">
            <small>
                <span class="name">社團法人台灣優靈客協會</span>
                <span class="date"><i class="ti-calendar"></i>2018-09-20</span>
            </small>
            <span class="title">
                @ViewBag.Title2
            </span>
        </h4>
        <img class="thumb" src="~/Content/images/Events/data/007/banner.jpg" alt="">
    </div>

    <div class="wrap">

        <ul class="breadcrumb text-md-right">
            <li><a href="~/Index">Home</a></li>
            <li><a href="~/Events">@ViewBag.Title</a></li>
            <li>活動預告</li>
        </ul>

        <h4 class="h3 hidden-lg-up">
            <small>
                <span class="name">社團法人台灣優靈客協會</span>
                <span class="date"><i class="ti-calendar"></i>2018-09-20</span>
            </small>
            <span class="title">@ViewBag.Title2</span>
        </h4>

        <div class="alert alert-info">
            本活動已圓滿結束，感謝您的共襄盛舉！<br />
            The activity ended perfectly. Thank you for your participation!
        </div>

        <article class="article section">
            <h5 class="h4">關於本活動</h5>
            <div class="editor main-text">
                <p>「遊騎花蓮壯遊行」，跟著在地達人探索 <strong class="text-purple">古樸與繁華兼具的老街</strong>，享用花蓮的<strong class="text-success">特殊風味餐</strong>，不僅如此，還要挑戰自己，靠著腳力騎完全國首創的<strong class="text-danger">兩潭自行車道</strong>！並於兩天行程中完成<strong class="text-orange">指定任務</strong>。這次讓我們一起深入體驗洄瀾，壯遊花蓮！成為實實在在的「壯遊客」！</p>
            </div>
        </article>

        <article class="article section">
            <h5 class="h4">About</h5>
            <div class="editor main-text">
                <p>「Grand Tour Hualien˙Biking Challenge」is a 2-day biking tour that will take you biking from ocean to mountain, walk you to <strong class="text-purple">the cultural sites within the local community</strong> and enjoy <strong class="text-success">homegrown cuisines.</strong> Let’s bike in Haulien and enjoy the most stunning view in Taiwan. </p>
            </div>
        </article>

        <article class="article section">
            <h5 class="h4">亮點</h5>
            <div class="editor main-text">
                <ul class="list-icon list-underline">
                    <li>
                        <strong class="text-danger">兩潭自行車道－</strong>
                        全國首創連接山海兩潭的車道，並為最美的單車路線
                    </li>
                    <li>
                        <strong class="text-success">老街新味之旅－</strong>
                        在地達人親自帶領，深入體驗花蓮古樸老街獨有的新味道
                    </li>
                    <li>
                        <strong class="text-purple">百年吉安慶修院－</strong>
                        前身為吉野布教所，且為全臺灣唯一保持完整的日式廟祠縣定古蹟
                    </li>
                </ul>
            </div>
        </article>

        <article class="article section">
            <h5 class="h4">Highlight</h5>
            <div class="editor main-text">
                <ul class="list-icon list-underline">
                    <li>
                        <strong class="text-danger">Two Lakes Bikeway－</strong>
                        stretches 35 kilometers from Qixingtan, a scenic pebble beach north of Hualien, to Liyutan Lake at the mouth of the East Rift Valley.
                    </li>
                    <li>
                        <strong class="text-success">Cultural Walk on Historic Streets－</strong>
                        is a short tour undertaken on foot to different cultural sites within the local community where guests have an opportunity to meet local people and enjoy a cross-cultural interaction
                    </li>
                    <li>
                        <strong class="text-purple">Chi-An Chinghsiu Temple－</strong>
                        is a third class historical monument and the most well preserved Japanese style shrine. It’s known as Chiyenchiu Shingon Buddhist Shrine before 1948.
                    </li>
                </ul>
            </div>
        </article>
        <article class="article section">
            <h5 class="h4">活動日期</h5>
            <div class="editor main-text">
                <ul class="list-icon list-underline">
                    <li>107年10月13日~14日(第一梯)</li>
                    <li>107年10月20日~21日(第二梯)</li>
                    <li>107年11月03日~04日(第三梯)</li>
                </ul>
            </div>
        </article>
        <article class="article section">
            <h5 class="h4">Date</h5>
            <div class="editor main-text">
                <ul class="list-icon list-underline">
                    <li>October 13-14, 2018 (Group 1)</li>
                    <li>October 20-21, 2018 (Group 2)</li>
                    <li>November 3-4, 2018 (Group 3)</li>
                </ul>
            </div>
        </article>

        <article class="article section">
            <h5 class="h4">適合對象、活動費用及報名方式</h5>
            <div class="editor main-text">
                <ul class="list-icon list-underline">
                    <li>
                        <strong>適合對象：</strong>
                        各大專院校<a href="~/Events/Events007e">國際交換生</a>
                    </li>
                    <li>
                        <strong>活動費用：</strong>
                        你分享，我帶路！
                    </li>
                </ul>
                <p><span class="btn btn-lg btn-success">報名已截止，謝謝您！</span></p>
            </div>
        </article>

        <article class="article section">
            <h5 class="h4">Participant、pricing and Registration</h5>
            <div class="editor main-text">
                <ul class="list-icon list-underline">
                    <li>
                        <strong>Participant：</strong>
                        <a href="~/Events/Events007e">International Students</a> (colleges & universities)
                    </li>
                    <li>
                        <strong>Pricing：</strong>
                        Free
                    </li>
                </ul>
                <p><span class="btn btn-lg btn-success">Registration has been closed. Thank you！</span></p>
            </div>
        </article>

        <article class="article section">
            <h5 class="h4">活動流程</h5>
            <div class="editor main-text">
                <table class="table table-hover table-responsive text-xs-center">
                    <tbody>
                        <thead>
                            <tr>
                                <th colspan="3"><strong>DAY.1－市區體驗</strong></th>
                            </tr>
                        </thead>
                        <tr class="bg-info">
                            <td></td>
                            <td>內容</td>
                            <td>備註</td>
                        </tr>
                        <tr>
                            <td class="text-middle" rowspan="2">早上</td>
                            <td>台北火車站北二門集合</td>
                            <td class="text-left">07:30a.m集合，領隊身穿紅色背心</td>
                        </tr>
                        <tr>
                            <td>快樂出發</td>
                            <td class="text-left">搭乘410車次07:59a.m出發前往花蓮，預計1019a.m抵達</td>
                        </tr>
                        <tr>
                            <td class="text-middle" rowspan="2">中午</td>
                            <td>整裝出發</td>
                            <td  class="text-left">熱身操、試騎單車、領騎解說單車遊程</td>
                        </tr>
                        <tr>
                            <td>午餐－當地風味餐</td>
                            <td  class="text-left">騎乘單車至午餐餐廳</td>
                        </tr>
                        <tr>
                            <td class="text-middle" rowspan="2">下午</td>
                            <td>新味醬油－豆腐乳DIY</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>探訪老街新味道</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="text-middle"  rowspan="3">晚上</td>
                            <td>晚餐－原住民風味餐</td>
                            <td  class="text-left">騎乘單車至晚餐餐廳</td>
                        </tr>
                        <tr>
                            <td>東大門夜市</td>
                            <td  class="text-left">騎乘單車至東大門夜市</td>
                        </tr>
                        <tr>
                            <td>途中國際青年旅舍</td>
                            <td  class="text-left">騎乘單車至旅舍</td>
                        </tr>

                        <thead>
                            <tr>
                                <th colspan="3"><strong>DAY.2－挑戰腳力</strong></th>
                            </tr>
                        </thead>
                        <tr class="bg-info">
                            <td></td>
                            <td>內容</td>
                            <td>備註</td>
                        </tr>

                        <tr>
                            <td class="text-middle" rowspan="2">早上</td>
                            <td>晨喚－早餐</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>整裝出發</td>
                            <td  class="text-left">單車路線：飯店－慶修院－鯉魚潭<br>騎乘公里數約18KM</td>
                        </tr>
                        <tr>
                            <td>中午</td>
                            <td>午餐－當地風味餐</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="text-middle">下午</td>
                            <td>繼續出發</td>
                            <td  class="text-left">單車路線：餐廳－七星柴魚博物館－七星潭－花蓮市區<br>騎乘公里數約32KM</td>
                        </tr>
                        <tr>
                            <td class="text-middle">傍晚</td>
                            <td>快樂回程</td>
                            <td class="text-left">
                                第一梯次：搭乘6237車次19:24p.m出發前往台北，預計21:39p.m抵達
                                <br>－<br>
                                第二梯次：搭乘6285車次18:16p.m出發前往台北，預計20:32p.m抵達
                                <br>－<br>
                                第三梯次：搭乘6441車次19:20p.m出發前往台北，預計21:22p.m抵達
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>

        <article class="article section">
            <h5 class="h4">Itinerary</h5>
            <div class="editor main-text">
                <table class="table table-hover table-responsive text-xs-center">
                    <tbody>
                        <thead>
                            <tr>
                                <th colspan="3"><strong>DAY.1－City Tour</strong></th>
                            </tr>
                        </thead>
                        <tr class="bg-info">
                            <td></td>
                            <td>Activity</td>
                            <td>Notes</td>
                        </tr>
                        <tr>
                            <td class="text-middle" rowspan="2">Morning</td>
                            <td>Taipei Main Station North 2.(Civic Blvd)</td>
                            <td class="text-left">Please arrive at Taipei Main Station North 2.(Civic Blvd) no later than 7:30am.<br>Your tour guide in a red vest will welcome you there.</td>
                        </tr>
                        <tr>
                            <td>Departure to Hualien</td>
                            <td class="text-left">ETA 07:59 ETD 10:19 (Train No. 410)</td>
                        </tr>
                        <tr>
                            <td class="text-middle" rowspan="2">Noon</td>
                            <td>Get Ready to bike</td>
                            <td  class="text-left">Warm up, Test ride, and Tour briefing</td>
                        </tr>
                        <tr>
                            <td>Lunch - Local cuisines</td>
                            <td  class="text-left">Biking to the restaurant</td>
                        </tr>
                        <tr>
                            <td class="text-middle" rowspan="2">Afternoon</td>
                            <td>Chinese Cheese DIY at Hsinwei Soy Sauce Factory</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Cultural Walk on Historic Streets</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="text-middle"  rowspan="3">Evening</td>
                            <td>Dinner - aboriginal cuisines</td>
                            <td  class="text-left">Biking to the restaurant</td>
                        </tr>
                        <tr>
                            <td>Tungtamen Night Market </td>
                            <td  class="text-left">Biking to Tungtamen Night Market </td>
                        </tr>
                        <tr>
                            <td>Stay at On My Way Youth Hostel</td>
                            <td  class="text-left">Biking to On My Way Youth Hostel</td>
                        </tr>

                        <thead>
                            <tr>
                                <th colspan="3"><strong>DAY.2－Biking Challenge</strong></th>
                            </tr>
                        </thead>
                        <tr class="bg-info">
                            <td></td>
                            <td>Activity</td>
                            <td>Notes</td>
                        </tr>

                        <tr>
                            <td class="text-middle" rowspan="2">Morning</td>
                            <td>Wake up call - Breakfast</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Get Ready to bike</td>
                            <td  class="text-left">Biking Route: Youth Hostel → Chinghsiu Temple → Liyutan Lake<br>(approx. 18 km)</td>
                        </tr>
                        <tr>
                            <td>Noon</td>
                            <td>Lunch - Local cuisines</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="text-middle">Afternoon</td>
                            <td>Keep Biking</td>
                            <td  class="text-left">Biking Route: Restaurant → ChihsingTan Katsuo Museum → Qixingtan → Hualien Downtown<br>(approx. 32 km)</td>
                        </tr>
                        <tr>
                            <td class="text-middle">Evening</td>
                            <td>Heading back to Taipei</td>
                            <td class="text-left">
                                Group 1: ETA 19:24 ETD 21:39 (Train No. 6237)
                                <br>－<br>
                                Group 2: ETA 18:16 ETD 20:32 (Train No. 6285)
                                <br>－<br>
                                Group 3: ETA 19:20 ETD 21:22 (Train No. 6441)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
        <article class="article section">
            <h5 class="h4">行程注意事項</h5>
            <div class="editor main-text">

                <ul class="list-icon list-underline">
                    <li>
                        為響應環保請自行攜帶毛巾、牙刷及牙膏。
                    </li>
                    <li>
                        本活動需足夠之體能方能順利完成，建議提前自我訓練，以利有足夠之時間調整體能。
                    </li>
                    <li>
                        本活動騎乘難度高，報名前請慎重考量自我身體狀況。
                    </li>
                    <li>
                        本活動為騎乘自行車的行程，請著運動服飾及運動鞋。
                    </li>
                    <li>
                        日夜溫差較大，請自備一件薄外套或長袖。
                    </li>
                    <li>
                        台灣優靈客協會保有活動調整、修改、異動之權利。
                    </li>
                </ul>
            </div>
        </article>

        <article class="article section">
            <h5 class="h4">Notes</h5>
            <div class="editor main-text">

                <ul class="list-icon list-underline">
                    <li>
                        Please bring your own towel, tooth brush, tooth paste and water bottle.
                    </li>
                    <li>
                        This is a high challenge level activity. Training in advance is highly recommended.
                    </li>
                    <li>
                        Please do evaluate your health condition before signup as this is a high challenge level activity.
                    </li>
                    <li>
                        Please wear sport outfit and shoes while biking.
                    </li>
                    <li>
                        Bringing a jacket with you is recommended in case of weather change.
                    </li>
                    <li>
                        Taiwan U-Link Association reserves the right to change these terms and conditions of the tour at any time without prior notice. 
                    </li>
                </ul>
            </div>
        </article>
    </div>

</section>