@{
    ViewBag.Title = "活動預告 | 活動參與";
    ViewBag.Title2 = "探索台灣．我是壯遊客－原生文化體驗營";
    ViewBag.BodyClass = "Events p1";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.customShareInfo = true;
    ViewBag.ogTitle = "我是壯遊客 原生文化體驗營";
    ViewBag.ogDescription = "泰雅成年禮、野營、攀樹、木作挑戰自我：台灣優靈客協會以服務青年為主軸，暑期推出全台首創新型態「探索台灣我是壯遊客」活動，規劃內容以泰雅成年禮、野營、攀樹、木作為主題，7月21日至22日、7月27日至28日兩梯次，名額40名，歡迎大專青年挑戰自我體能，體驗台灣生態。";
    ViewBag.ogImgUrl = "http://www.ulink.org.tw/Content/images/Events/data/002/ogImg.jpg";
}

<h2 class="sr-only">@ViewBag.Title</h2>

<section id="content">

	<h3 class="sr-only">活動預告</h3>

	<div id="banner" class="tall">
		<h4 class="h3 wrap hidden-md-down">
			<small>
				<span class="name">壯遊行系列活動</span>
				<span class="date"><i class="ti-calendar"></i>2016-07-20</span>
			</small>
			<span class="title">@ViewBag.Title2</span>
		</h4>
		<img class="thumb" src="~/Content/images/Events/data/002/banner.jpg" alt="">
	</div>

    <div class="wrap">

    	<ul class="breadcrumb text-md-right">
    		<li><a href="~/Index">Home</a></li>
    		<li><a href="~/Events">@ViewBag.Title</a></li>
    		<li>活動預告</li>
    	</ul>

        <h4 class="h3 hidden-lg-up">
            <small>
                <span class="name">壯遊行系列活動</span>
                <span class="date"><i class="ti-calendar"></i>2016-07-20</span>
            </small>
            <span class="title">@ViewBag.Title2</span>
        </h4>

    	<article class="article section">
    		<h5 class="h4">關於本活動</h5>
    		<div class="editor main-text">
                <div class="row">
                    <div class="col-xs-12 col-md-7 col-xl-6">
            			<p>為發揮在地精神，台灣優靈客協會特別規劃<strong class="text-danger">「探索台灣．我是壯遊客」</strong>系列活動，串連全台灣北、中、南、東，找出台灣特有的環境旅遊方式，啟發自身的優質靈感，提供不一樣的<strong class="text-success">台灣新壯遊精神</strong>！</p>
                        <p>首波壯遊點就以國門之都－桃園市的復興區揭開序幕！位於復興區的<strong class="text-success">塔曼山</strong>，標高2100公尺，夏季涼爽宜人，清晨可以遠眺<strong class="text-danger">絢麗斑斕的日出</strong>。登上塔曼山也是當地泰雅族的<strong class="text-danger">成年禮</strong>之一，相信經過塔曼山的洗禮，壯遊學員們能夠在自己的人生寫下精彩的一頁！</p>
                        <p>本次壯遊行還有精彩刺激的<strong class="text-success">攀樹體驗活動</strong>，讓你挑戰自我，訓練自己的膽量！此外，<strong class="text-danger">戶外野營與木作 DIY 活動</strong>可以讓學員了解到，保護與尊重大自然的重要性，讓大自然環境可以永續下去，並且靠著自己的雙手來製作吃飯的工具，尋找樹木最初的起點。</p>
                        <hr class="sm hidden-md-up">
                    </div>
                    <div class="col-xs-12 col-md-5 col-xl-6">
                        <h6 class="h5"><strong>活動四大主軸</strong></h6>
                        <ul class="list-icon list-underline">
                            <li><strong>壯遊塔曼</strong>—泰雅族的成年禮</li>
                            <li><strong>壯遊野營</strong>—對大自然的負責</li>
                            <li><strong>壯遊攀樹</strong>—體驗自己的膽量</li>
                            <li><strong>壯遊木作</strong>—尋找神木的起點</li>
                        </ul>
                        <h6 class="h5"><strong>行程表下載</strong></h6>
                        <ul class="list-icon list-underline m-b-0">
                            <li><a href="~/Content/images/Events/data/002/day1.jpg" target="_blank">第一天行程</a></li>
                            <li><a href="~/Content/images/Events/data/002/day2.jpg" target="_blank">第二天行程</a></li>
                        </ul>
                    </div>
                </div>
                <hr class="sm">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <img src="~/Content/images/Events/data/002/pic1.jpg" alt="" class="img-thumbnail m-b-1">
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <img src="~/Content/images/Events/data/002/pic3.jpg" alt="" class="img-thumbnail m-b-1">
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <img src="~/Content/images/Events/data/002/pic4.jpg" alt="" class="img-thumbnail m-b-1">
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <img src="~/Content/images/Events/data/002/pic6.jpg" alt="" class="img-thumbnail m-b-1">
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <img src="~/Content/images/Events/data/002/pic10.jpg" alt="" class="img-thumbnail m-b-1">
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <img src="~/Content/images/Events/data/002/pic8.jpg" alt="" class="img-thumbnail">
                    </div>
                </div>
    		</div>
    	</article>

    	<article class="article section">
    		<h5 class="h4">活動時間</h5>
    		<div class="editor main-text">
                <div class="row">
                    <div class="col-xs-12 col-md-7">
                        <ul class="list-icon list-underline">
                            <li><strong>第一梯次</strong>：105 年 7 月 20 日 (三) 至 7 月 21 日 (四)</li>
                            <li><strong>第二梯次</strong>：105 年 7 月 27 日 (三) 至 7 月 28 日 (四)</li>
                        </ul>
                        <p>為求活動品質，各梯次人數皆限制為 <strong class="text-danger">40 位名額</strong>。</p>
                        <p>本活動包含步行登山與攀樹行程，請斟酌自身體力參與。</p>
                    </div>
                    <div class="col-xs-12 col-md-5">
                        <div class="embed-responsive embed-responsive-16by9 m-b-1">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vRRD0aDClSw" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
    		</div>
    	</article>

        <article class="article section">
            <h5 class="h4">報名方式</h5>
            <div class="editor main-text">
                <ul class="list-icon list-underline">
                    <li>
                        <strong>報名資格：</strong><strong class="text-danger">18 至 45 歲</strong> 的青年朋友，18 歲以下須附家長同意書 (<a href="~/Content/images/Events/data/002/agree_under18.doc" target="_blank">請按此下載</a>)。<br>
                        <small class="text-muted">家長同意書填寫完畢後請 E-mail 或傳真，回傳至本協會陳秘書。E-mail: <a href="mailto:ulink1030@gmail.com" class="text-muted">ulink1030@gmail.com</a>，傳真: 03-2805399</small>
                    </li>
                    <li><strong>報名時間：</strong>即日起 至 額滿為止 (或活動梯次前一週)</li>
                    <li><strong>報名費用：</strong>會員 <strong class="text-danger">$999 元</strong>，非會員 <strong class="text-danger">$1499 元</strong></li>
                </ul>
                <p>本活動採 <strong>線上報名</strong>，報名表填寫完畢後，請將報名費匯款至台灣優靈客協會帳戶，並來電告知轉帳末 5 碼，才算報名完成。</p>
                <p><span class="btn btn-lg btn-success">報名已截止，謝謝您！</span></p>
                <hr class="sm">
                <div class="row">
                    <div class="col-xs-12 col-md-7 col-lg-5 pull-md-right">
                        <img src="~/Content/images/Events/data/002/pic5.jpg" alt="" class="img-thumbnail m-b-1">
                    </div>
                    <div class="col-xs-12 col-md-5 col-lg-7">
                        <h6 class="h5"><strong>匯款資訊</strong></h6>
                        <ul class="list-icon list-underline">
                            <li>銀行代號：004 (台灣銀行)</li>
                            <li>帳號：041 001139757</li>
                            <li>戶名：社團法人台灣優靈客協會</li>
                            <li>轉帳金額：會員 NT$999 元，非會員 NT$1499 元</li>
                            <li>連絡電話：03-2805398 (陳秘書)</li>
                        </ul>
                    </div>
                </div>
                <hr class="sm">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <img src="~/Content/images/Events/data/002/pic7.jpg" alt="" class="img-thumbnail m-b-1">
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <img src="~/Content/images/Events/data/002/pic9.jpg" alt="" class="img-thumbnail m-b-1">
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <img src="~/Content/images/Events/data/002/pic2.jpg" alt="" class="img-thumbnail">
                    </div>
                </div>
            </div>
        </article>
        
    </div>

</section>