@{
    ViewBag.Title = "活動參與";
    ViewBag.BodyClass = "Events p2";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section css {
    <link href="~/Content/css/vendor/jquery.loadmask.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/Scripts/cdn/jquery.loadmask.min.js"></script>
    <script src="~/Scripts/src/tsx/w-joinus_email.js"></script>
}
<h2 class="sr-only">@ViewBag.Title</h2>

<section id="content">

    <div id="banner">
        <h3 class="h3 wrap">
            <span class="title">加入我們</span>
        </h3>
        <img class="thumb" src="~/Content/images/AboutUs/banner2.jpg" alt="">
    </div>

    <div class="wrap">

        <ul class="breadcrumb text-md-right">
            <li><a href="~/Index">Home</a></li>
            <li><a href="~/Events">@ViewBag.Title</a></li>
            <li>加入我們</li>
        </ul>

        <p>請填妥以下基本資料，我們將會盡快與您聯繫！</p>

        <form action="" class="form" id="JoinUsInfo">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="姓名" id="m_name" required />
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="E-mail" id="m_email" required />
            </div>
            <div class="form-group">
                <input type="tel" class="form-control" placeholder="聯絡電話" id="m_tel" required />
            </div>
            <div class="form-group">
                <label class="c-input c-checkbox">
                    <input type="checkbox" id="checkbox1" name="join_type" value="1">
                    <span class="c-indicator"><i class="ti-check"></i></span>
                    我想加入優靈客工作團隊
                </label>
                <label class="c-input c-checkbox">
                    <input type="checkbox" id="checkbox1" name="join_type" value="2">
                    <span class="c-indicator"><i class="ti-check"></i></span>
                    我想成為講者
                </label>
            </div>
            <div class="form-group">
                <textarea id="m_content" cols="30" rows="5" class="form-control" placeholder="介紹一下你自己吧！" required></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-lg" type="submit" form="JoinUsInfo">送出資料</button>
            </div>
        </form>

    </div>

</section>