@{
    ViewBag.Title = "活動參與";
    ViewBag.Title2 = "2018 遊騎花蓮壯遊行-重要資訊";
    ViewBag.BodyClass = "Events p2";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.customShareInfo = true;
    ViewBag.ogUrl = "http://www.ulink.org.tw/Events/Events007";
    ViewBag.ogTitle = ViewBag.Title2;
    ViewBag.ogDescription = "";
}

@section CSS {
    <style>
        .table td {
            border-color: #eee;
            vertical-align: middle;
        }
        .text-left { text-align: left; }
        #banner::after{background: none;}
        #banner .h3{text-shadow: 0 0 10px rgba(0,0,0,0.8)}
        #banner .h3 small{text-shadow: 0 0 5px rgba(0,0,0,0.9);}
    </style>
}

<h2 class="sr-only">@ViewBag.Title</h2>

<section id="content">

    <h3 class="sr-only">活動預告</h3>

    <div id="banner" class="article">
        <h4 class="h3 wrap hidden-md-down">
            <small>
                <span class="name">社團法人台灣優靈客協會</span>
                <span class="date"><i class="ti-calendar"></i>2018-09-20</span>
            </small>
            <span class="title">
                @ViewBag.Title2
                <br>
                Grand Tour Hualien．Biking Challenge Information
            </span>
        </h4>
        <img class="thumb" src="~/Content/images/Events/data/007/banner.jpg" alt="">
    </div>

    <div class="wrap">

        <ul class="breadcrumb text-md-right">
            <li><a href="~/Index">Home</a></li>
            <li><a href="~/Events">@ViewBag.Title</a></li>
            <li>活動預告</li>
        </ul>

        <h4 class="h3 hidden-lg-up">
            <small>
                <span class="name">社團法人台灣優靈客協會</span>
                <span class="date"><i class="ti-calendar"></i>2018-09-20</span>
            </small>
            <span class="title">
                @ViewBag.Title2
                <br>
                Grand Tour Hualien．Biking Challenge Information
            </span>
        </h4>

        <div class="alert alert-info">
            本活動已圓滿結束，感謝您的共襄盛舉！<br />
            The activity ended perfectly. Thank you for your participation!
        </div>

        <article class="article section">
            <h5 class="h4">聯絡資訊 Contact Info</h5>
            <div class="editor main-text">
                <h6 class="h4"><strong class="text-purple">聯絡電話(cellphone)：</strong></h6>
                <ul class="list-icon list-underline">
                    <li>0970608052 (王先生Mr. Wang)</li>
                    <li>0919613020 (陳小姐Miss Chen)</li>
                </ul>
                <h6 class="h4"><strong class="text-success">Line ID：</strong></h6>
                <ul class="list-icon list-underline">
                    <li>0970608052 (王先生Mr. Wang)</li>
                    <li>kekechen820813(陳小姐Miss Chen)</li>
                </ul>
            </div>
        </article>


        <article class="article section">
            <h5 class="h4">活動流程</h5>
            <div class="editor main-text">
                <table class="table table-hover table-responsive text-xs-center">
                    <tbody>
                    <thead>
                        <tr>
                            <th colspan="3"><strong>DAY.1－市區體驗</strong></th>
                        </tr>
                    </thead>
                    <tr class="bg-info">
                        <td></td>
                        <td>內容</td>
                        <td>備註</td>
                    </tr>
                    <tr>
                        <td class="text-middle" rowspan="2">早上</td>
                        <td>台北火車站北二門集合</td>
                        <td class="text-left">07:30a.m集合，領隊身穿紅色背心</td>
                    </tr>
                    <tr>
                        <td>快樂出發</td>
                        <td class="text-left">搭乘410車次07:59a.m出發前往花蓮，預計1019a.m抵達</td>
                    </tr>
                    <tr>
                        <td class="text-middle" rowspan="2">中午</td>
                        <td>整裝出發</td>
                        <td class="text-left">熱身操、試騎單車、領騎解說單車遊程</td>
                    </tr>
                    <tr>
                        <td>午餐－當地風味餐</td>
                        <td class="text-left">騎乘單車至午餐餐廳</td>
                    </tr>
                    <tr>
                        <td class="text-middle" rowspan="2">下午</td>
                        <td>新味醬油－豆腐乳DIY</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>探訪老街新味道</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="text-middle" rowspan="3">晚上</td>
                        <td>晚餐－原住民風味餐</td>
                        <td class="text-left">騎乘單車至晚餐餐廳</td>
                    </tr>
                    <tr>
                        <td>東大門夜市</td>
                        <td class="text-left">騎乘單車至東大門夜市</td>
                    </tr>
                    <tr>
                        <td>途中國際青年旅舍</td>
                        <td class="text-left">騎乘單車至旅舍</td>
                    </tr>

                    <thead>
                        <tr>
                            <th colspan="3"><strong>DAY.2－挑戰腳力</strong></th>
                        </tr>
                    </thead>
                    <tr class="bg-info">
                        <td></td>
                        <td>內容</td>
                        <td>備註</td>
                    </tr>

                    <tr>
                        <td class="text-middle" rowspan="2">早上</td>
                        <td>晨喚－早餐</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>整裝出發</td>
                        <td class="text-left">單車路線：飯店－慶修院－鯉魚潭<br>騎乘公里數約18KM</td>
                    </tr>
                    <tr>
                        <td>中午</td>
                        <td>午餐－當地風味餐</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="text-middle">下午</td>
                        <td>繼續出發</td>
                        <td class="text-left">單車路線：餐廳－七星柴魚博物館－七星潭－花蓮市區<br>騎乘公里數約32KM</td>
                    </tr>
                    <tr>
                        <td class="text-middle">傍晚</td>
                        <td>快樂回程</td>
                        <td class="text-left">
                            第一梯次：搭乘6237車次19:24p.m出發前往台北，預計21:39p.m抵達
                            <br>－<br>
                            第二梯次：搭乘6285車次18:16p.m出發前往台北，預計20:32p.m抵達
                            <br>－<br>
                            第三梯次：搭乘6441車次19:20p.m出發前往台北，預計21:22p.m抵達
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </article>

        <article class="article section">
            <h5 class="h4">Itinerary</h5>
            <div class="editor main-text">
                <table class="table table-hover table-responsive text-xs-center">
                    <tbody>
                    <thead>
                        <tr>
                            <th colspan="3"><strong>DAY.1－City Tour</strong></th>
                        </tr>
                    </thead>
                    <tr class="bg-info">
                        <td></td>
                        <td>Activity</td>
                        <td>Notes</td>
                    </tr>
                    <tr>
                        <td class="text-middle" rowspan="2">Morning</td>
                        <td>Taipei Main Station North 2.(Civic Blvd)</td>
                        <td class="text-left">Please arrive at Taipei Main Station North 2.(Civic Blvd) no later than 7:30am.<br>Your tour guide in a red vest will welcome you there.</td>
                    </tr>
                    <tr>
                        <td>Departure to Hualien</td>
                        <td class="text-left">ETA 07:59 ETD 10:19 (Train No. 410)</td>
                    </tr>
                    <tr>
                        <td class="text-middle" rowspan="2">Noon</td>
                        <td>Get Ready to bike</td>
                        <td class="text-left">Warm up, Test ride, and Tour briefing</td>
                    </tr>
                    <tr>
                        <td>Lunch - Local cuisines</td>
                        <td class="text-left">Biking to the restaurant</td>
                    </tr>
                    <tr>
                        <td class="text-middle" rowspan="2">Afternoon</td>
                        <td>Chinese Cheese DIY at Hsinwei Soy Sauce Factory</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Cultural Walk on Historic Streets</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="text-middle" rowspan="3">Evening</td>
                        <td>Dinner - aboriginal cuisines</td>
                        <td class="text-left">Biking to the restaurant</td>
                    </tr>
                    <tr>
                        <td>Tungtamen Night Market </td>
                        <td class="text-left">Biking to Tungtamen Night Market </td>
                    </tr>
                    <tr>
                        <td>Stay at On My Way Youth Hostel</td>
                        <td class="text-left">Biking to On My Way Youth Hostel</td>
                    </tr>

                    <thead>
                        <tr>
                            <th colspan="3"><strong>DAY.2－Biking Challenge</strong></th>
                        </tr>
                    </thead>
                    <tr class="bg-info">
                        <td></td>
                        <td>Activity</td>
                        <td>Notes</td>
                    </tr>

                    <tr>
                        <td class="text-middle" rowspan="2">Morning</td>
                        <td>Wake up call - Breakfast</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Get Ready to bike</td>
                        <td class="text-left">Biking Route: Youth Hostel → Chinghsiu Temple → Liyutan Lake<br>(approx. 18 km)</td>
                    </tr>
                    <tr>
                        <td>Noon</td>
                        <td>Lunch - Local cuisines</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="text-middle">Afternoon</td>
                        <td>Keep Biking</td>
                        <td class="text-left">Biking Route: Restaurant → ChihsingTan Katsuo Museum → Qixingtan → Hualien Downtown<br>(approx. 32 km)</td>
                    </tr>
                    <tr>
                        <td class="text-middle">Evening</td>
                        <td>Heading back to Taipei</td>
                        <td class="text-left">
                            Group 1: ETA 19:24 ETD 21:39 (Train No. 6237)
                            <br>－<br>
                            Group 2: ETA 18:16 ETD 20:32 (Train No. 6285)
                            <br>－<br>
                            Group 3: ETA 19:20 ETD 21:22 (Train No. 6441)
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </div>

</section>