@{
    ViewBag.Title = "活動參與";
    ViewBag.Title2 = "原生文化體驗營：木作壯遊 & 攀樹壯遊";
    ViewBag.BodyClass = "Events p1";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.customShareInfo = true;
    ViewBag.ogUrl = "http://www.ulink.org.tw/Events/Events003";
    ViewBag.ogTitle = ViewBag.Title2;
    ViewBag.ogDescription = "廣受好評的「探索台灣．我是壯遊客」第一梯次已圓滿落幕，協會特別規畫於8月25日及8月26日分別舉辦「木作壯遊」與「攀樹壯遊」，為大家的暑假劃下一個完美的句點。錯過第一梯次的會員及青年朋友們快快把握機會吧！";
    ViewBag.ogImgUrl = "http://www.ulink.org.tw/Content/images/Events/data/003/ogImg.jpg";
}

<h2 class="sr-only">@ViewBag.Title</h2>

<section id="content">

	<h3 class="sr-only">活動預告</h3>

	<div id="banner" class="article">
		<h4 class="h3 wrap hidden-md-down">
			<small>
				<span class="name">探索台灣．我是壯遊客</span>
				@* <span class="date"><i class="ti-calendar"></i>2016-07-20</span> *@
			</small>
			<span class="title">@ViewBag.Title2</span>
		</h4>
		<img class="thumb" src="~/Content/images/Events/data/003/banner.jpg" alt="">
	</div>

    <div class="wrap">

    	<ul class="breadcrumb text-md-right">
    		<li><a href="~/Index">Home</a></li>
    		<li><a href="~/Events">@ViewBag.Title</a></li>
    		<li>活動預告</li>
    	</ul>

        <h4 class="h3 hidden-lg-up">
            <small>
                <span class="name">探索台灣．我是壯遊客</span>
                @* <span class="date"><i class="ti-calendar"></i>2016-07-20</span> *@
            </small>
            <span class="title">@ViewBag.Title2</span>
        </h4>
        <div class="row">
            <div class="col-xs-12 col-lg-7 col-xl-6">

                <article class="article section">
                    <h5 class="h4">關於本活動</h5>
                    <div class="editor main-text">
                        <div class="letter">
                            <p>台灣優靈客協會的理事、監事以及會員們大家好：</p>
                            <p><strong class="text-lg text-info">「探索台灣．我是壯遊客」</strong>系列活動第一梯次已於7月20日至7月21日圓滿落幕，為讓錯過第一梯次的會員及青年朋友們能夠參與此次壯遊行的活動，協會特別規畫於<strong class="text-danger">8月25日</strong>及<strong class="text-danger">8月26日</strong>分別舉辦<strong class="text-lg text-success">「木作壯遊」</strong>與<strong class="text-lg text-success">「攀樹壯遊」</strong>，為大家的暑假劃下一個完美的句點。</p>
                            <p><strong class="text-lg text-success">「木作壯遊」</strong>，除了跟著導覽老師的腳步，深入認識你所不知道的大溪在地歷史與文化；手作木筷子的體驗，也讓學員把原本簡單的木頭，經過自己親手一刀一刨，從無到有，製作出一雙<strong class="text-danger">專屬於自己的筷子</strong>。用餐時使用自己製作的筷子，別有一番風味。</p>
                            <p><strong class="text-lg text-success">「攀樹壯遊」</strong>，不再像以往只是走馬看花，藉由導覽老師的解說，認識與自己印象中不一樣的復興；攀樹體驗，從專業教練的講解、示範，再到自己親身上陣，過程中不僅是<strong class="text-danger">訓練膽量</strong>，也讓自己的<strong class="text-danger">視野越來越遼闊</strong>，將在地面上無法看見的美景盡收眼底。</p>
                            <p class="text-xs-center"><strong class="text-lg text-info">理事長誠摯邀請各位會員一同來當壯遊客！</strong></p>
                        </div>
                    </div>
                </article>

                <article class="article section">
                    <h5 class="h4">活動時間</h5>
                    <div class="editor main-text">
                        <ul class="list-icon list-underline">
                            <li><strong>木作壯遊</strong>：105 年 8 月 25 日 (四)</li>
                            <li><strong>攀樹壯遊</strong>：105 年 8 月 26 日 (五)</li>
                        </ul>
                    </div>
                </article>

                <article class="article section">
                    <h5 class="h4">報名方式</h5>
                    <div class="editor main-text">
                        <ul class="list-icon list-underline">
                            <li><strong>報名時間：</strong>即日起 至 額滿為止 (每場活動 <strong class="text-danger">40 人</strong>)</li>
                            <li><strong>報名費用：</strong><strong class="text-danger">$900 元</strong> / 人</li>
                        </ul>
                        <p>本活動採 <strong>線上報名</strong>，請點選以下連結進行報名。如有任何活動問題，可來電洽詢協會秘書 <strong class="text-info">陳小姐 03-2805398</strong>。</p>
                        <p>
                            <a class="btn btn-lg btn-success m-r-1" href="http://oudo.com/public/frontend/activity/show/1250" target="new">我要報名木作壯遊 GO!</a>
                            <span class="br-lg-down m-b-1"></span>
                            <a class="btn btn-lg btn-success" href="http://oudo.com/public/frontend/activity/show/1251" target="new">我要報名攀樹壯遊 GO!</a>
                        </p>
                    </div>
                </article>

                <img src="~/Content/images/Topic/data/003/pic9.jpg" alt="" class="img-thumbnail m-b-1">

            </div>
            <div class="col-xs-12 col-lg-5 col-xl-6">

                <img src="~/Content/images/Topic/data/003/pic6.jpg" alt="" class="img-thumbnail m-b-1">
                <div class="embed-responsive embed-responsive-16by9 m-b-1">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_CQLpJqjloA" frameborder="0" allowfullscreen></iframe>
                </div>

                <img src="~/Content/images/Events/data/002/pic4.jpg" alt="" class="img-thumbnail m-b-1">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/q03QBGgRilw" frameborder="0" allowfullscreen></iframe>
                </div>

            </div>
        </div>

    </div>

</section>