@{
    ViewBag.Title = "活動參與";
    ViewBag.BodyClass = "Events p1";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="sr-only">@ViewBag.Title</h2>

<section id="content">

	<h3 class="sr-only">活動預告</h3>

	<div id="banner" class="tall">
		<h4 class="h3 wrap hidden-md-down">
			<small>
				<span class="name">Ivan</span>
				<span class="date"><i class="ti-calendar"></i>2016-01-01</span>
			</small>
			<span class="title">好點子的爆炸時刻！</span>
		</h4>
		<img class="thumb" src="~/Content/images/Events/data/001/banner.jpg" alt="">
	</div>

    <div class="wrap">

    	<ul class="breadcrumb text-md-right">
    		<li><a href="~/Index">Home</a></li>
    		<li><a href="~/Events">@ViewBag.Title</a></li>
    		<li>活動預告</li>
    	</ul>

        <h4 class="h3 hidden-lg-up">
            <small>
                <span class="name">Ivan</span>
                <span class="date"><i class="ti-calendar"></i>2016-01-01</span>
            </small>
            <span class="title">好點子的爆炸時刻！</span>
        </h4>

    	<article class="article section">
    		<h5 class="h4">關於本活動</h5>
    		<div class="editor main-text">
    			<p>科學家們相信，宇宙的誕生來自過去某個有限時間之前，一個高密度粒子的爆炸。爆炸之後產生的能量在重新排列組合後，成為基本的物質元素，經過不斷的膨脹，到達今天的狀態。這就是所謂的「Big Bang」，也就是「大爆炸理論」。</p>
    		</div>
    	</article>

    	<article class="article section">
    		<h5 class="h4">講者介紹</h5>
    		<h6 class="h5">陸學森 / Gogoro 創辦人暨執行長</h6>
    		<div class="editor main-text">
    			<p>科學家們相信，宇宙的誕生來自過去某個有限時間之前，一個高密度粒子的爆炸。爆炸之後產生的能量在重新排列組合後，成為基本的物質元素，經過不斷的膨脹，到達今天的狀態。這就是所謂的「Big Bang」，也就是「大爆炸理論」。</p>
    		</div>
    	</article>

    	<article class="article section">
    		<h5 class="h4">時間 &amp; 地點</h5>
    		<div class="editor main-text">
    			<p><strong>時間：</strong>2016 年 1 月 1 日 (五) 19:00 - 21:00</p>
    			<p><strong>地點：</strong>華山1914文創園區，東2館 四連棟(台北市中正區八德路一段1號)。</p>
    			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.7036203212297!2d121.52721081500651!3d25.044130283967647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a96523e0246d%3A0xf1c9276707165c71!2z6I-v5bGxMTkxNOaWh-WMluWJteaEj-eUoualreWckuWNgA!5e0!3m2!1szh-TW!2stw!4v1461743445669" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    		</div>
    	</article>
        
    </div>

</section>