@{
    ViewBag.Title = "活動回顧";
    ViewBag.BodyClass = "Events p2";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.customShareInfo = false;
}

<h2 class="sr-only">@ViewBag.Title</h2>

<section id="content">
	
	<div id="banner">
		<h3 class="h3 wrap">
			<span class="title">@ViewBag.Title</span>
		</h3>
		<img class="thumb" src="~/Content/images/Events/banner.jpg" alt="">
	</div>

    <div class="wrap">

    	<ul class="breadcrumb text-md-right">
    		<li><a href="~/Index"><i class="ti-home"></i> Home</a></li>
    		<li>@ViewBag.Title</li>
    	</ul>

    	@* <ul class="filter list-inline">
    		<li>所有主題</li>
    		<li>主題1</li>
    		<li>主題2</li>
    	</ul> *@

    	@* <hr> *@

    	<div class="card-list">

    		@* <article class="article card">
				<a href="~/Events/Events003" class="card-img-top">
					<img src="~/Content/images/Events/data/003/banner.jpg" alt="">
					<i class="icon ti-search"></i>
					<ul class="info list-inline">
						<li class="name">探索台灣．我是壯遊客 系列活動</li>
					</ul>
				</a>
				<div class="card-block">
					<h3 class="card-title">原生文化體驗營：木作壯遊 &amp; 攀樹壯遊</h3>
					<p class="card-text">
						「探索台灣．我是壯遊客」系列活動第一梯次已圓滿落幕，為讓錯過第一梯次的會員及青年朋友們能夠參與此次壯遊行的活動，協會特別規畫於8月25日及8月26日分別舉辦「木作壯遊」與「攀樹壯遊」，為大家的暑假劃下一個完美的句點。
					</p>
					<a href="~/Events/Events003" class="btn btn-primary">繼續閱讀 <i class="ti-arrow-right"></i></a>
				</div>
			</article> *@

			<article class="article card">
				<a href="~/Events/Events002" class="card-img-top">
					<img src="~/Content/images/Events/data/002/banner.jpg" alt="">
					<i class="icon ti-search"></i>
					<ul class="info list-inline">
						<li class="name">探索台灣．我是壯遊客 系列活動</li>
					</ul>
				</a>
				<div class="card-block">
					<h3 class="card-title">探索台灣．我是壯遊客－原生文化體驗營</h3>
					<p class="card-text">
						為發揮在地精神，台灣優靈客協會特別規劃「探索台灣．我是壯遊客」系列活動，串連全台灣北、中、南、東，找出台灣特有的環境旅遊方式，啟發自身的優質靈感，提供不一樣的台灣新壯遊精神！
					</p>
					<a href="~/Events/Events002" class="btn btn-primary">繼續閱讀 <i class="ti-arrow-right"></i></a>
				</div>
			</article>

			<article class="article card">
				<a href="~/Events/Events001" class="card-img-top">
					<img src="~/Content/images/Events/data/001/banner.jpg" alt="">
					<i class="icon ti-search"></i>
					<ul class="info list-inline">
						<li class="name">楊力州導演</li>
						<li class="date"><i class="ti-calendar"></i> 2016-06-15</li>
					</ul>
				</a>
				<div class="card-block">
					<h3 class="card-title">「我們的那時．此刻」電影欣賞活動</h3>
					<p class="card-text">
						吳志揚理事長邀請本會會員共同來欣賞由楊力州導演執導、金馬獎紀錄片「那時．此刻」，內容跨越50年記憶，重新回顧台灣電影史及它背後的時代，無比感動。
					</p>
					<a href="~/Events/Events001" class="btn btn-primary">繼續閱讀 <i class="ti-arrow-right"></i></a>
				</div>
			</article>

		</div>
        
    </div>

</section>

